<div class="open-view">

  <div class="open-view-content">
      <div class="pane-steps">
          <div ng-class="
              purchaseOrder.steps.length == 1 ? 'one' : '' ||
              purchaseOrder.steps.length == 2 ? 'two' : '' ||
              purchaseOrder.steps.length == 3 ? 'three' : '' ||
              purchaseOrder.steps.length == 4 ? 'four' : '' ||
              purchaseOrder.steps.length == 5 ? 'five' : ''
          " class="ui steps">
              <div class="step" ng-class="{completed: step[1].completed, disabled: step[1].disabled, active: step[1].active}" ng-repeat="step in purchaseOrder.steps">
                  <i class="icon" ng-class="step[1].icon"></i>
                  <div class="content">
                      <div class="title">{{step[1].title}}</div>
                      <div class="description">{{step[1].description}}</div>
                  </div>
              </div>
          </div>
          <div class="steps-toolbar">
              <div ng-show="purchaseOrder.step == 'draft'">

                  <button type="button" ng-click="downloadRFQ()" class="ui button small blue icon labeled">
                      <i class="icon file pdf outline"></i>
                      Request as PDF
                  </button>

                  <button type="button" ng-click="changeStep('confirmed')" class="ui button small icon labeled">
                      <i class="icon check"></i>
                      Confirm order
                  </button>

              </div>

              <div ng-show="purchaseOrder.step == 'rfq'">
                  <button type="button" ng-click="downloadRFQ()" class="ui button small blue icon labeled">
                      <i class="icon file pdf outline"></i>
                      Request as PDF
                  </button>

                  <button type="button" ng-click="changeStep('draft')" class="ui button small icon labeled">
                      <i class="icon minus"></i>
                      Set to Draft
                  </button>

                  <button type="button" ng-click="changeStep('confirmed')" class="ui button small icon labeled">
                      <i class="icon check"></i>
                      Confirm order
                  </button>
              </div>

              <div ng-show="purchaseOrder.step == 'confirmed'">
                  <button type="button" ng-click="downloadPO()" class="ui button small blue icon labeled">
                      <i class="icon file pdf outline"></i>
                      PO as PDF
                  </button>
                  <button type="button" ng-click="changeStep('draft')" class="ui button small icon labeled">
                      <i class="icon minus"></i>
                      Set to Draft
                  </button>
                  <button type="button" class="ui button small icon teal labeled">
                		<i class="icon check"></i>
                		Received Products
                  </button>
                  <button type="button" class="ui button small icon teal labeled">
                      	<i class="icon check"></i>
                      	Received Invoice
                  </button>
              </div>
          </div>
      </div>
      <!-- <div class="toolbar">


      </div> -->
      <div class="seperator"></div>

      <div class="ui form">
          <div class="two fields">
              <div class="field" ng-show="purchaseOrder.supplier">
                  <label>Supplier</label>
                  <h3>{{purchaseOrder.supplier.company_name}}
                      <button type="button" class="ui button mini icon" ng-click="changeSupplier = !changeSupplier">
                          <i class="icon pencil"></i>
                      </button>
                  </h3>
              </div>

              <div class="field" ng-show="changeSupplier">
                  <label ng-show="purchaseOrder.supplier">Change supplier</label>
                  <label ng-hide="purchaseOrder.supplier">Supplier</label>
                  <input ng-model="newSupplier" type="text" typeahead-on-select="onSupplierSelect($item, $model, $label); changeSupplier = false;" uib-typeahead="item as item.company_name for item in suppliers | filter:{company_name:$viewValue}" placeholder="Search supplier">
              </div>

              <div class="field">
                  <h4 class="ui horizontal divider header">
                  	<i class="shipping icon"></i>
                  	Delivery Address
                  </h4>
                  <div>
                      <cirons-address-selector
                        address="purchaseOrder.address"
                        onchange="changeAddress()"
                      ></cirons-address-selector>
                  </div>
              </div>
          </div>



      <div class="seperator"></div>

      <h4 class="ui horizontal divider header">
      	<i class="tag icon"></i>
      	Purchase Description
      </h4>

      <table class="ui table celled compact">
          <thead>
              <tr>
                  <th>Product</th>
                  <th>Ordered</th>
                  <th>Shipped</th>
                  <th>Unit</th>
                  <th>VAT</th>
                  <th>Unit Price</th>
                  <th>Row Total</th>
              </tr>
          </thead>
          <tbody>
              <tr ng-repeat="row in purchaseOrder.order_rows">
                  <td>{{row.product.name}}</td>
                  <td>
                      <input ng-blur="updateRow(row)" type="text" ng-model="row.ordered">
                  </td>
                  <td>
                      <input ng-blur="updateRow(row)" type="text" ng-model="row.q">
                  </td>
                  <td>
                      <select ng-change="updateRow(row)" ng-model="row.q_type">
      					<option value="0">units</option>
      					<option value="1">litre</option>
      					<option value="2">hour</option>
      					<option value="3">tonne</option>
      					<option value="4">mm</option>
      					<option value="5">kwh</option>
      					<option value="6">m²</option>
      					<option value="7">metre</option>
      					<option value="8">month</option>
      					<option value="9">km</option>
      					<option value="10">m³</option>
      					<option value="11">kg</option>
      					<option value="12">day</option>
      					<option value="13">gram</option>
      				</select>
                  </td>
                  <td>
                      <select ng-change="updateRow(row)" ng-model="row.vat_id">
      					<option ng-repeat="rule in settings.vat_rules" value="{{rule.id}}">{{rule.percent}}%</option>
      				</select>
                  </td>
                  <td>
                      <input ng-blur="updateRow(row)" type="text" ng-model="row.price">
                  </td>
                  <td>
                      {{row.price * row.q | number : 2}}
                  </td>
              </tr>
              <tr>
                  <th colspan="7">
                      Add new row
                  </th>
              </tr>
              <tr>
                  <td>
                      <input ng-model="newrow.product" type="text" uib-typeahead="item as item.name for item in products | filter:{name:$viewValue}">
                  </td>
                  <td>
                      <input type="text" ng-model="newrow.ordered">
                  </td>
                  <td>
                      <input type="text" ng-model="newrow.q">
                  </td>
                  <td>
                      <select ng-model="newrow.q_type">
      					<option value="0">units</option>
      					<option value="1">litre</option>
      					<option value="2">hour</option>
      					<option value="3">tonne</option>
      					<option value="4">mm</option>
      					<option value="5">kwh</option>
      					<option value="6">m²</option>
      					<option value="7">metre</option>
      					<option value="8">month</option>
      					<option value="9">km</option>
      					<option value="10">m³</option>
      					<option value="11">kg</option>
      					<option value="12">day</option>
      					<option value="13">gram</option>
      				</select>
                  </td>
                  <td>
                      <select ng-model="newrow.vat_id">
      					<option ng-repeat="rule in settings.vat_rules" value="{{rule.id}}">{{rule.percent}}%</option>
      				</select>
                  </td>
                  <td>
                      <input type="text" ng-model="newrow.price">
                  </td>
                  <td>
                      <button type="button" ng-click="addOrderRow()" class="ui button teal tiny">Add</button>
                  </td>
              </tr>
          </tbody>
          <tfoot>
              <tr>
                  <th colspan="5">
                  </th>
                  <th>
                      Sub Total
                  </th>
                  <th>
                      {{subTotal | number: 2}}
                  </th>
              </tr>
              <tr>
                  <th colspan="5">
                  </th>
                  <th>
                      Total VAT
                  </th>
                  <th>
                      {{totalVAT | number: 2}}
                  </th>
              </tr>
              <tr>
                  <th colspan="5">
                  </th>
                  <th>
                      Grand Total
                  </th>
                  <th>
                      {{grandTotal | number: 2}}
                  </th>
              </tr>
          </tfoot>
      </table>

  </div>
</div>
</div>
