<div class="object-tabe-heading">

    <div class="ui grid stackable">
        <div class="column eight wide">
            <h2>Receipts</h2>
            <button type="button" class="ui button small teal labeled icon" ui-sref="receipts.create">
                <i class="icon plus"></i>
                Add new
            </button>
        </div>
        <div class="column eight wide">
            <div class="ui action input pull-right left icon">
                <i class="icon search"></i>

                <input type="text" placeholder="Search Invoices..." ng-model="search.supplier.company_name">

                <div class="ui floating dropdown labeled icon button" sui-dropdown>
                    <i class="filter icon"></i>
                    <span class="text">Filter Receipts</span>
                    <div class="menu">
                        <div class="item" ng-click="search = {}">
                            <div class="ui empty circular black label"></div>
                            Show All
                        </div>
                        <div class="header">
                          <i class="tags icon"></i>
                          Receipt Status
                        </div>
                        <div class="scrolling menu">
                            <div class="item" ng-click="search.paid = '0000-00-00'">
                                <div class="ui empty circular label red"></div>
                                Unpaid
                            </div>
                            <div class="item" ng-click="search.paid = '!0000-00-00'">
                                <div class="ui empty circular label teal"></div>
                                Paid
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<table class="ui table celled object-table">
    <thead>
		<tr>
			<th width="1"></th>
			<th>Supplier</th>
			<th>Paid By</th>
            <th>Paid With</th>
			<th class="right">Amount</th>
			<th>Date</th>
		</tr>
	</thead>
    <tbody>
        <tr ng-repeat-start="receipt in filtered() | filter: search | orderBy: orderByKey : orderByReverse track by $index" ng-show=" ($index == 0 || lastDate.getFullYear().toString()+lastDate.getMonth().toString() != receipt.date.getFullYear().toString()+receipt.date.getMonth().toString() ? newLastDate(receipt.date) : false )">
            <td class="table-separator" colspan="7">
                {{ receipt.date | date : 'MMMM yyyy' }}
            </td>
        </tr>
        <tr ng-repeat-end>
            <td>
                <input type="checkbox">
            </td>
            <td ui-sref="receipts.item({id: receipt.id, receipt: receipt})">
                {{(receipt.supplier ? receipt.supplier.company_name : 'n/a')}}
            </td>
            <td ui-sref="receipts.item({id: receipt.id, receipt: receipt})">
                {{receipt.employee.name}}
            </td>
            <td ui-sref="receipts.item({id: receipt.id, receipt: receipt})">
                {{receipt.payment}}
            </td>
            <td class="right">
                {{receipt.amount}}
                {{receipt.currency}}
            </td>
            <td ui-sref="receipts.item({id: receipt.id, receipt: receipt})">
                {{receipt.date | date : 'yyyy-MM-dd'}}
            </td>
        </tr>
    </tbody>
</table>
