<div class="open-view">

  <div class="open-view-content" ng-controller="receiptsCRUDController">

    <div class="toolbar"></div>

    <h1 blur="submit" editable-text="receipt.merchant" onaftersave="editReceipt(receipt.merchant)">
      {{receipt.merchant}}</h1>

    <div class="stats">

      <button class="ui labeled icon button" id="btn_bought" ng-show="receipt.bought_for != 0">
        <i class="money icon"></i>

        <div>{{ receipt.bought_for }}</div>
        <div>Bought for</div>
      </button>

      <button class="ui labeled icon button" id="btn_si" ng-show="receipt.receipt_invoices.length">
        <i class="file outline pdf icon"></i>

        <div>{{ receipt.receipt_invoices.length }}</div>
        <div>Supplier Invoices</div>
      </button>

      <button class="ui labeled icon button" id="btn_rec" ng-show="receipt.receipts.length">
        <i class="file text outline icon"></i>

        <div>{{ receipt.receipts.length }}</div>
        <div>Receipts</div>
      </button>

    </div>

    <div ng-show="receipt.receipt_invoices.length">
      <hr/>
      <h3>Supplier Invoices</h3>

      <table class="ui table celled">
        <thead>
          <tr>
            <th>#ID</th>
            <th>Amount</th>
            <th>Category</th>
            <th>Date</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="si in receipt.receipt_invoices">
            <td>{{si.id}}</td>
            <td>{{si.sum}}</td>
            <td>{{si.category_name}}</td>
            <td>{{si.date}}</td>
            <td>Needs to be fixed</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div ng-show="receipt.receipts.length">
      <hr/>
      <h3>Supplier Invoices</h3>

      <table class="ui table celled">
        <thead>
          <tr>
            <th>#ID</th>
            <th>Amount</th>
            <th>Category</th>
            <th>Date</th>
            <th>Account</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="receipt in receipt.receipts">
            <td>{{receipt.id}}</td>
            <td>{{receipt.amount}}</td>
            <td>{{receipt.category_name}}</td>
            <td>{{receipt.date}}</td>
            <td>{{receipt.payment}}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
