<div class="open-view">

  <div class="open-view-content">
    <form class="ui form" ng-submit="addReceipt()">
      <div class="toolbar">

        <button class="ui dropdown button icon labeled positive">
          <i class="check icon"></i>
          Save and create
        </button>
        <div class="ui button" onclick="cancel()">Cancel</div>
      </div>

      <div class="ui grid stackable">
          <div class="column eight wide">

              <div class="field" ng-show="receipt.supplier.id">
                  <label>Supplier</label>
                  <h3>{{receipt.supplier.company_name}}
                      <button type="button" class="ui button mini icon" ng-click="changeSupplier = !changeSupplier">
                          <i class="icon pencil"></i>
                      </button>
                  </h3>
              </div>

              <div class="field" ng-show="changeSupplier">
                  <label ng-show="receipt.supplier">Change supplier</label>
                  <label ng-hide="receipt.supplier">Supplier</label>
                  <input ng-model="receipt.supplier" type="text" typeahead-on-select="changeSupplier = false;" uib-typeahead="item as item.company_name for item in suppliers | filter:{company_name:$viewValue}" placeholder="Search supplier">
              </div>

              <div class="seperator"></div>

              <div class="inline field">
                <label>Amount</label>
                <input type="text" ng-blur="save()" ng-model="receipt.amount">
              </div>

              <div class="inline field">
                <label>VAT</label>
                <select ng-change="save()" ng-model="receipt.vat">
                  <option ng-repeat="rule in settings.vat_rules" value="{{rule.percent}}">{{rule.percent}}%</option>
                </select>
              </div>

              <div class="inline field">
                <label>Date</label>
                <input type="date" ng-blur="save()" ng-model="receipt.date">
              </div>

              <div class="inline field">
                  <label>Currency</label>
                  <select ng-change="save()" ng-model="receipt.currency">
                      <option ng-repeat="currency in settings.currencies" value="{{currency.ISO}}">{{currency.ISO}}</option>
                  </select>
              </div>

          </div>
          <div class="column eight wide">

              <cirons-attachments
                object-id="receipt.id"
                object-type="Receipt"
                attachments="receipt.attachments"
              ></cirons-attachments>

          </div>
      </div>
    </form>
  </div>
</div>
