<div class="open-view">

  <div class="open-view-content">
      <div class="toolbar">

        <!-- <button class="ui dropdown button icon labeled normal">
          <i class="edit icon"></i>
          Edit
        </button>

        <button class="ui dropdown button icon labeled negative">
          <i class="remove icon"></i>
          Remove
        </button> -->

      </div>

      <h1 blur="submit" editable-text="product.name" onaftersave="editName(product.name)">{{product.name}}</h1>

      <div class="seperator"></div>
      <div class="seperator"></div>

      <div class="ui grid stackable">



      </div>
      <form action="javascript:;" class="ui form" ng-submit="saveProduct()">

          <h4 class="ui horizontal divider header">
          	<i class="info icon"></i>
          	General information
          </h4>

          <div class="field" ng-show="product.supplier">
              <label>Supplier</label>
              <h3>{{product.supplier.company_name}}
                  <button type="button" class="ui button mini icon" ng-click="changeSupplier = !changeSupplier">
                      <i class="icon pencil"></i>
                  </button>
              </h3>
          </div>

          <div class="field" ng-show="changeSupplier">
              <label ng-show="product.supplier">Change supplier</label>
              <label ng-hide="product.supplier">Supplier</label>
              <input ng-model="newSupplier" type="text" typeahead-on-select="onSupplierSelect($item, $model, $label); changeSupplier = false;" uib-typeahead="item as item.company_name for item in suppliers | filter:{company_name:$viewValue}" placeholder="Search supplier">
          </div>

          <div class="two fields">

              <div class="field">
                  <label>SKU</label>
                  <input type="text" ng-blur="saveProduct()" ng-model="product.sku">
              </div>

              <div class="field">
                  <label>Reference</label>
                  <input type="text" ng-blur="saveProduct()" ng-model="product.reference">
              </div>

          </div>

          <div class="two fields">
              <div class="field">
                  <label>Type of product</label>
                  <div class="ui field inline">
                      <input type="checkbox" id="product_physical" ng-true-value="1" ng-false-value="0" ng-model="product.virtual" value="1" ng-checked="product.virtual == 1" ng-change="saveProduct()">
                      <label for="product_physical">Is this a virtual product?</label>
                  </div>
                  <!-- <label>Reference</label>
                  <input type="text" ng-blur="saveProduct()" ng-model="product.reference"> -->
              </div>
              <div class="field">
                  <label>VAT %</label>
                  <select ng-model="product.vat_id" ng-change="saveProduct()">
                      <option ng-repeat="vat_rule in settings.vat_rules" value="{{vat_rule.id}}">{{vat_rule.name}} {{vat_rule.percent}}%</option>
                  </select>
              </div>
          </div>

          <h4 class="ui horizontal divider header">
          	<i class="money icon"></i>
          	Cost Information
          </h4>

          <div class="three fields">
              <div class="field">
                  <label>Currency</label>
                  <select ng-model="product.currency" ng-change="saveProduct()">
                      <option ng-repeat="currency in settings.currencies" value="{{currency.ISO}}">{{currency.ISO}}</option>
                  </select>
              </div>
              <div class="field">
                  <label>Cost Price</label>
                  <input type="text" ng-blur="saveProduct()" ng-model="product.cost_price">
              </div>
              <div class="field">
                  <label>Extra Costs</label>
                  <div class="ui action input">
                      <input type="text" ng-model="product.extra_cost_value">
                      <select style="width: 100px;" class="ui compact selection dropdown" ng-model="product.extra_cost_type" ng-change="saveProduct()">
                          <option value="fixed">Fixed</option>
                          <option value="percent">%</option>
                      </select>
                  </div>
              </div>
          </div>

          <input type="submit" style="display:none;">
      </form>
  </div>
</div>
