<div class="dashboard-content">
  <div class="tab_content">
    <div class="ui grid stackable">
      <h4 class="ui horizontal divider header">VAT General</h4>
      <div class="column sixteen wide">

        <div class="widget-content">
          <table class="ui celled table vat-table" height="100%">
            <thead>
              <tr>
                <th colspan="3">
                  VAT Period: 2015-07-01 - 2015-12-25
                </th>
              </tr>
              <tr>
                <th class="" width="33%">
                  VAT Return
                </th>
                <th width="33%">VAT Due</th>
                <th width="33%">Total VAT Return</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="positive" rowspan="4">
                  <table width="100%">
                    <tbody>
                      <tr>
                        <td class="vatsum" rowspan="4">500,000.00</td>
                        <td>25.00%</td>
                        <td>500,000.00</td>
                      </tr>
                      <tr>
                        <td>12.00%</td>
                        <td>0.00</td>
                      </tr>
                      <tr>
                        <td>6.00%</td>
                        <td>0.00</td>
                      </tr>
                      <tr>
                        <td>0.00%</td>
                        <td>0.00</td>
                      </tr>

                    </tbody>
                  </table>
                </td>
                <td class="negative" rowspan="4">
                  <table width="100%">
                    <tbody>
                      <tr>
                        <td class="vatsum" rowspan="4">0.00</td>
                        <td>25.00%</td>
                        <td>0.00</td>
                      </tr>
                      <tr>
                        <td>12.00%</td>
                        <td>0.00</td>
                      </tr>
                      <tr>
                        <td>6.00%</td>
                        <td>0.00</td>
                      </tr>
                      <tr>
                        <td>0.00%</td>
                        <td>0.00</td>
                      </tr>

                    </tbody>
                  </table>
                </td>
                <td class="positive" rowspan="4">
                  <table width="100%">
                    <tbody>
                      <tr>
                        <td class="vatsum" rowspan="4">-500,000.00</td>
                        <td>25.00%</td>
                        <td>-500,000.00</td>
                      </tr>
                      <tr>
                        <td>12.00%</td>
                        <td>0.00</td>
                      </tr>
                      <tr>
                        <td>6.00%</td>
                        <td>0.00</td>
                      </tr>
                      <tr>
                        <td>0.00%</td>
                        <td>0.00</td>
                      </tr>

                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>
