<header ng-controller="navigationController">
  <button class="speech" id="speech">
    <i class="fa fa-microphone"></i>
  </button>
  <div class="page-title">
    <h1>
      <div ncy-breadcrumb></div>
    </h1>
  </div>

  <div class="user-bar">
    <nav>
      <span>
        <span>{{user.first_name}}
          {{user.last_name}}</span>
        <i class="fa fa-angle-down"></i>
      </span>
      <ul>
        <li>
          <a ui-sref="users.item({id: $root.s.user.id, user: $root.s.user})">
            <i class="fa fa-cogs"></i>
            Edit Profile</a>
        </li>
        <li>
          <a ng-click="logout()">
            <i class="fa fa-lock"></i>
            Logout</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="status-bar">
    <div id="{{item.div_id}}" ng-repeat="item in iconMenu">
      <button id="{{item.button_id}}" ng-click="visible(item.button_id)">
        <i class="{{item.icon}}"></i>
      </button>
      <div class="ui flowing popup bottom notification-popup" id="popup_{{item.button_id}}" ng-class="isVisible ? 'visible right' : 'invisible'" style="{{inlineStyle}}">
        <div class="no-notifications">
          No notifications at the moment...
        </div>
      </div>
    </div>
  </div>

</header>
