<div class="open-view">

  <div class="open-view-content">
    <form class="ui form" ng-submit="addContact()">
      <div class="toolbar">

        <button class="ui dropdown button icon labeled teal">
          <i class="check icon"></i>
          Save and create
        </button>
        <div class="ui button" onclick="window.history.back()">Cancel</div>
      </div>
      <div class="ui grid stackable">

          <div class="column four wide field-desc">
              Primary Contact
          </div>
          <div class="column four wide">
              <div class="field">
                  <input type="text" placeholder="First Name" ng-model="contact.first_name">
              </div>
          </div>
          <div class="column four wide">
              <div class="field">
                  <input type="text" placeholder="Last Name" ng-model="contact.last_name">
              </div>
          </div>
      </div>

      <div class="ui grid stackable">
          <div class="column four wide field-desc">
              Company Name
          </div>
          <div class="column eight wide">
              <div class="field">
                  <input type="text" placeholder="Company Name" ng-model="contact.company_name">
              </div>
          </div>
      </div>

      <div class="ui grid stackable">
          <div class="column four wide field-desc">
              VAT-number
          </div>
          <div class="column eight wide">
              <div class="field">
                  <input type="text" placeholder="VAT-number" ng-model="contact.vat_no">
              </div>
          </div>
      </div>

      <div class="ui grid stackable">
          <div class="column four wide field-desc">
              Email &amp; Phone
          </div>
          <div class="column four wide">
              <div class="field">
                  <input type="text" placeholder="Email-address" ng-model="contact.primary_email">
              </div>
          </div>
          <div class="column four wide">
              <div class="field">
                  <input type="text" placeholder="Phone number" ng-model="contact.primary_phone">
              </div>
          </div>
      </div>

      <div class="ui grid stackable">
          <div class="column four wide field-desc">
              Default Address
          </div>
          <div class="column eight wide">
              <cirons-address-selector
                address="contact.address"
              ></cirons-address-selector>
          </div>
      </div>
  </div>
</div>
