<div class="ui cards section-boxes">
    <div class="red card section-icon">
        <div class="content">
            <i class="right floated mini ui red icon building"></i>
            <a href="#" class="header">Suppliers</a>

            <div class="meta">
                Manage your suppliers
            </div>
            <div class="description">
                <table class="section-box-number">
                    <tr>
                        <td>
                            <div class="ui red statistic">
                                <div class="value">
                                    11
                                </div>
                            </div>
                        </td>
                        <td>
                            <h3>Suppliers</h3>

                            <p>2</p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>