<div class="ui cards section-boxes" ng-controller="expensesController">

  <cirons-card card-counter="receiptsCount" ccolor="red" ccounterdesc="Receipts" cdesc="Manage your receipts" cicon="file" cstate="receipts" ctype="Receipts"></cirons-card>

  <cirons-card card-counter="supplierInvoicesCount" ccolor="red" ccounterdesc="Supplier Invoices" cdesc="Manage your bills" cicon="file" cstate="supplier_invoices" ctype="Supplier Invoices"></cirons-card>

  <cirons-card card-counter="suppliersCount" ccolor="red" ccounterdesc="Suppliers" cdesc="Manage your suppliers" cicon="building" cstate="suppliers" ctype="Suppliers"></cirons-card>

</div>
