<div class="open-view">

  <div class="open-view-content">
    <form class="ui form" ng-submit="addSupplier()">
      <div class="toolbar">

        <button class="ui dropdown button icon labeled teal">
          <i class="check icon"></i>
          Save and create
        </button>

      </div>

      <div>
          <h4 class="ui dividing header">General Information</h4>
          <div class="inline field">
            <label>Company Name</label>
            <input type="text" ng-model="supplier.company_name">
          </div>
          <div class="inline field">
            <label>VAT-number</label>
            <input type="text" ng-model="supplier.vat_no">
          </div>
          <div class="seperator"></div>
          <h4 class="ui dividing header">Company Address</h4>
          <div class="field">
              <cirons-address-selector
                  address="supplier.address"
              ></cirons-address-selector>
          </div>
      </div>

    </form>

  </div>

</div>
