<div class="open-view">

  <div class="open-view-content" ng-controller="suppliersCRUDController">

    <div class="toolbar">

      <!-- <button class="ui dropdown button icon labeled default" ng-click="removeSupplier()">
        <i class="remove icon"></i>
        Delete Supplier
      </button> -->

    </div>

    <h1 blur="submit" editable-text="supplier.company_name" onaftersave="editSupplier(supplier.company_name)">
      {{supplier.company_name}}</h1>

    <div class="stats">

      <button class="ui labeled icon button" id="btn_bought">
        <i class="money icon"></i>

        <div>{{ supplier.bought_for }}</div>
        <div>Bought for</div>
      </button>

      <button class="ui labeled icon button" id="btn_si">
        <i class="file outline pdf icon"></i>

        <div>{{ supplier.supplier_invoices.length }}</div>
        <div>Supplier Invoices</div>
      </button>

      <button class="ui labeled icon button" id="btn_rec">
        <i class="file text outline icon"></i>

        <div>{{ supplier.receipts.length }}</div>
        <div>Receipts</div>
      </button>

    </div>

    <hr/>

    <div ng-show="supplier.supplier_invoices.length">
      <h3>Supplier Invoices</h3>

      <table class="ui table celled">
        <thead>
          <tr>
            <th>#ID</th>
            <th>Amount</th>
            <th>Category</th>
            <th>Date</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="si in supplier.supplier_invoices">
            <td>{{si.id}}</td>
            <td>{{si.sum}}</td>
            <td>{{si.category_name}}</td>
            <td>{{si.date}}</td>
            <td>Needs to be fixed</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div ng-show="supplier.receipts.length">
      <hr/>
      <h3>Supplier Invoices</h3>

      <table class="ui table celled">
        <thead>
          <tr>
            <th>#ID</th>
            <th>Amount</th>
            <th>Category</th>
            <th>Date</th>
            <th>Account</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="receipt in supplier.receipts">
            <td>{{receipt.id}}</td>
            <td>{{receipt.amount}}</td>
            <td>{{receipt.category_name}}</td>
            <td>{{receipt.date}}</td>
            <td>{{receipt.payment}}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
