<div class="split-table clearfix ng-scope">
    <div class="list">

        <div class="list-toolbar">
            <a ui-sref="suppliers.create" class="ui button labeled icon green">
                <i class="icon plus"></i>
                Add new
            </a>
        </div>

        <ul>
            <!-- ngRepeat: item in items -->
            <li ui-sref="suppliers.item({id: item.id, supplier: item})" ng-repeat="item in expenses">
                <div class="clearfix">
                    <i>{{$index + 1}}</i>
                    <strong>{{item.company_name}}</strong>
                </div>
                <div class="sec clearfix">
					<span class="ng-binding">
						 {{ (item.receipts.length + item.supplier_invoices.length) }} items
					</span>
                </div>
            </li><!-- end ngRepeat: item in items -->
        </ul>
    </div>
</div>