<div class="split-table clearfix" ng-controller="splitViewController">
    <div class="list">
        <div class="list-toolbar">
            <button class="ui button labeled icon green">
                <i class="icon plus"></i> Add new
            </button>
        </div>
        <ul>
            <li data-id="{{item.id}}" ng-click="open($event, item);" ng-repeat="item in items">
                <div class="clearfix">
                    <i>#{{ item.id }}</i>
                    <strong>{{ item.company_name }}</strong>
                </div>
                <div class="sec clearfix">
                    <span>
						{{ item.count_invoices }} items
					</span>
                </div>
            </li>
        </ul>
    </div>
    <div class="open-view">
        <div class="open-view-content"></div>
    </div>
</div>