<div class="ui cards section-boxes" ng-controller="salesController">

  <cirons-card ccolor="olive" card-counter="ordersCount" ccounterdesc="Pending Orders" cdesc="Manage your orders" cicon="file" csecondary="cardSecondary" cstate="suppliers" ctype="Orders"></cirons-card>

  <cirons-card card-counter="invoicesCount" ccolor="olive" ccounterdesc="Due Invoices" cdesc="Manage your invoices" cicon="file" csecondary="cardSecondary" cstate="suppliers" ctype="Invoices"></cirons-card>

  <cirons-card ccolor="olive" card-counter="productsCount" ccounterdesc="Products" cdesc="Manage your products" cicon="database" csecondary="cardSecondary" cstate="suppliers" ctype="Products"></cirons-card>

  <cirons-card card-counter="contactsCount" ccolor="olive" ccounterdesc="Customers" cdesc="Manage your contacts" cicon="users" csecondary="cardSecondary" cstate="suppliers" ctype="Customers"></cirons-card>

</div>
