<div class="ui grid stacked">
  <div ng-controller="ordersController">
    <cirons-card ccolor="olive" ccounter="cardCounter" csecondary="cardSecondary" cdesc="Manage your orders" cicon="file" cstate="suppliers" ctype="Orders" ccounterdesc="Pending Orders"></cirons-card>
  </div>

  <div ng-controller="invoicesController">
    <cirons-card ccolor="olive" ccounter="cardCounter" csecondary="cardSecondary" cdesc="Manage your invoices" cicon="file" cstate="suppliers" ctype="Invoices" ccounterdesc="Due Invoices"></cirons-card>
  </div>

  <div ng-controller="productsController">
    <cirons-card ccolor="olive" ccounter="cardCounter" csecondary="cardSecondary" cdesc="Manage your products" cicon="database" cstate="suppliers" ctype="Products" ccounterdesc="Products"></cirons-card>
  </div>

  <div ng-controller="contactsController">
    <cirons-card ccolor="olive" ccounter="cardCounter" csecondary="cardSecondary" cdesc="Manage your contacts" cicon="users" cstate="suppliers" ctype="Customers" ccounterdesc="Customers"></cirons-card>
  </div>
</div>
