<div class="dashboard-tabs clearfix">
	<nav>
		<ul>
			<li>
				<a class="active" href="#">
					<span>Finance</span>
				</a>
			</li>
			<li>
				<a href="#">
					<span>Sales</span>
				</a>
			</li>
			<li>
				<a href="#">
					<span>Taxes</span>
				</a>
			</li>
			<li>
				<a href="#">
					<span>Expenses</span>
				</a>
			</li>
		</ul>
	</nav>
	<div class="tabbar-chart">
		<ul>
			<li>
				<span>Turnover</span>
				<strong id="tabbar-chart-turnover">120,000 SEK</strong>
			</li>
			<li>
				<span>Minus Costs</span>
				<strong id="tabbar-chart-costs">136,159 SEK</strong>
			</li>
			<li>
				<span>Equals Result</span>
				<strong id="tabbar-chart-total">-16,159 SEK</strong>
			</li>
		</ul>
	</div>
</div>

<div class="dashboard-content">
    <div class="tab_content">
        <div class="ui grid stackable">
            <div class="column four wide">
                <cirons-statbox
                    color="#3681B1"
                    text="Pending Orders"
                    icon="chart line"
                ></cirons-statbox>
            </div>
            <div class="column four wide">
                <cirons-statbox
                    color="#3681B1"
                    text="Pending Orders"
                    icon="chart line"
                ></cirons-statbox>
            </div>
            <div class="column four wide">
                <cirons-statbox
                    color="#3681B1"
                    text="Pending Orders"
                    icon="chart line"
                ></cirons-statbox>
            </div>
            <div class="column four wide">
                <cirons-statbox
                    color="#3681B1"
                    text="Pending Orders"
                    icon="chart line"
                ></cirons-statbox>
            </div>
        </div>
    </div>
</div>
