aside.menu #touch-menu {
    display: none;
    outline: none !important;
}

@media(max-width:992px){

    .user-bar, aside.menu header a.logo, #speech, .tabbar-chart, section.content.hide-sidebar aside.sidebar {
        display: none;
    }

    aside.menu {
        left: -80%;
        z-index: 999;
    }
    .body {
        margin: 0;
    }
    .status-bar {
        right: 0;
    }
    .page-title h1 ol li {
        display: none;
    }
    .page-title h1 ol li.active {
        display: inline-block;
    }
    .breadcrumb {
        li {
            display: none;
        }
        li.active {
            display: inline-block;
        }
    }
    .breadcrumb>li+li.active:before {
        display: none;
        content: none;
    }
    section.content {
        padding-top: 60px;
    }
    body.split_table {
        position: relative;
    }
    body.split_table .split-view {
        width: 200%;
        left: 0;
        top: 0;
        transition: all 400ms ease;
    }
    body.split_table ui-view {
        overflow: hidden;
        overflow-y: auto;
    }
    body.split_table .split-view > div:first-child {
        width: 50%;
        float: left;
    }
    body.split_table .split-view > div:last-child {
        width: 50%;
        float: right;
    }
    body.split_table .split-view.active {
        margin-left: -100%;
    }

    body.split_table[data-state*=".item"]  .split-view,
    body.split_table[data-state*=".create"]  .split-view {
        margin-left: -100%;

        .mobile-back-button {
            
        }
    }

    body.split_table .page-content .open-view .open-view-content {
        padding: 0 15px 15px 15px;
    }

    .page-title h1 ol {
        display: inline-block;
    }
    header .page-title h1 {
        display: none;
        padding: 0;
        margin: 0;
    }

    aside.menu header {
        display: none;
    }

    aside.menu > nav#main {
        padding-top: 0;
    }

    aside.menu {
        transition: all 300ms ease;
        width: 80%;
    }

    aside.menu.open {
        position: absolute;
        z-index: 999;
        left: 0;
        -webkit-box-shadow: 2px 0px 10px 0px rgba(50, 50, 50, 0.75);
        -moz-box-shadow:    2px 0px 10px 0px rgba(50, 50, 50, 0.75);
        box-shadow:         2px 0px 10px 0px rgba(50, 50, 50, 0.75);
    }

    aside.menu #touch-menu {
        border: none;
        position: absolute;
        background: white;
        color: rgba(0, 0, 0, 0.3);
        font-size: 24px;
        height: 50px;
        width: 50px;
        margin-right: 20px;
        line-height: 50px;
        text-align: center;
        border-right: 1px solid rgba(0, 0, 0, 0.3);
        right: -70px;
        display: block;
        z-index: 9999;

        .fa.fa-times {
            display: none;
        }
    }

    aside.menu.open #touch-menu {
        background: $cirons_blue;
        color: white;
        .fa.fa-bars {
            display: none;
        }
        .fa.fa-times {
            display: inline;
        }
    }

    .ui.cards > .card {
        width: 100%;
    }

    body.dashboard .cirons-tabs {
        .fixed-tabs {
            left: 0;
        }
    }

    body.dashboard .dashboard-tabs nav {
        padding: 0;
    }

    body.dashboard .dashboard-tabs ul li a {
        padding: 0 10px;
        font-size: 12px;
    }

    body.dashboard .dashboard-content {
        padding-left: 20px;
        padding-right: 20px;
    }

}

@media(min-width: 500px) and (max-width: 992px){
    .ui.cards > .card {
        width: 45%;
    }
}

/*@media(min-width:768px){}*/
@media(min-width:992px) and (max-width: 1200px){

    aside.menu {
        transition: all 300ms ease;
        width: 40px;
        z-index: 999;
        overflow-x: hidden;
        header {
            display: none;
        }
    }
    aside.menu > nav#main {
        padding-top: 0;
    }

    aside.menu:hover {
        width: 260px;
    }

    aside.menu > nav#main ul, aside.menu > nav#main ul li {
        width: 260px;
    }

    body.dashboard .cirons-tabs {
        .fixed-tabs {
            left: 40px;
        }
    }

    .body {
        transition: all 300ms ease;
        margin-left: 40px;
    }

}
@media(min-width:1200px){}
