@import "c3.min.scss";
@import "loading-bar.min.scss";
@import "fullcalendar.scss";
@import "xeditable.scss";
@import "dropzone.scss";

$cirons_blue: #1F77B4;
$cirons_light: lighten($cirons_blue, 45);

$header_color: white;

$nav_item_bg: rgba(255,255,255,0.1);
$nav_item_color: rgba(255,255,255,1);
$nav_item_icon_bg: rgba(0,0,0,0.1);

$breadcrumb_color: #777;
$breadcrumb_active_color: #777;

$table_row_hover_bg: rgba(0,0,0,0.1);

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}
* {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  border-radius: 0 !important;
}
html,
body {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0;
  margin: 0;
  background: $cirons_blue;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}
aside.menu.blue nav#main {
  height: 100%;
}
aside.menu.blue nav#main ul {
  background: $cirons_blue;
  height: 100%;
  padding-top: 10px;
}
aside.menu nav#main ul {
  overflow: auto;
}
aside.menu.blue > nav#main ul li a {
  color: $nav_item_color;
  background: $nav_item_bg;
  margin-bottom: 3px;
}
aside.menu {
  width: 260px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
}

.breadcrumb>.active {
    color: $breadcrumb_color;
}

li.ng-scope.active {
    color: $breadcrumb_active_color;
}

.body {
  width: auto;
  margin-left: 260px;
  position: relative;
  height: 100%;
}
.body header,
aside.menu header {
  height: 50px;
  background: $header_color;
  -webkit-box-shadow: 0 3px 5px 0 rgba(50, 50, 50, 0.1);
  -moz-box-shadow: 0 3px 5px 0 rgba(50, 50, 50, 0.1);
  box-shadow: 0 3px 5px 0 rgba(50, 50, 50, 0.1);
}
aside.menu header {
  border-right: 1px solid #eee;
}
.body header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
section#toolbar {
  height: 50px;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 50px;
  margin-top: 50px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
section#toolbar .pull-right {
  margin-top: 10px;
}
section.content {
  height: 100%;
  width: 100%;
  padding-top: 70px;
}
section.content.has-sidebar.hide-sidebar {
  padding-right: 0;
}
section.content > .inner {
  background: white;
  height: 100%;
  width: 100%;
  -webkit-box-shadow: 0 0 10px 0 rgba(50, 50, 50, 0.4);
  -moz-box-shadow: 0 0 10px 0 rgba(50, 50, 50, 0.4);
  box-shadow: 0 0 10px 0 rgba(50, 50, 50, 0.4);
  overflow: auto;
}
aside.sidebar {
  background: #eee;
  z-index: 999;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 300px;
  padding-top: 30px;
  // -webkit-box-shadow: 0 0 10px 0 rgba(50, 50, 50, 0.75);
  // -moz-box-shadow: 0 0 10px 0 rgba(50, 50, 50, 0.75);
  // box-shadow: 0 0 10px 0 rgba(50, 50, 50, 0.75);
  border-left: 3px solid white;
  h3 {
    font-size: 18px;
    margin: 0 0 15px;
    display: block;
    text-align: center;
  }
  #gauge_order_vs_last_month {
    table {
      margin: auto;
    }
  }
}
.sidebar-toggle {
  left: -35px;
  width: 40px;
  text-align: center;
  line-height: 35px;
  position: absolute;
  height: 40px;
  background: $cirons_blue;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  -ms-border-radius: 50% !important;
  border-radius: 50% !important;
  border: 3px solid white;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.2);
  -moz-box-shadow:    0px 2px 5px 0px rgba(50, 50, 50, 0.2);
  box-shadow:         0px 2px 5px 0px rgba(50, 50, 50, 0.2);

  color: #999999;
}
.sidebar-toggle > i {
  -ms-transform-origin: 50% 50%;
  /* IE 9 */
  -webkit-transform-origin: 50% 50%;
  /* Chrome, Safari, Opera */
  transform-origin: 50% 50%;
  color: white;
}
.has-sidebar .sidebar-toggle {
  display: block;
  text-decoration: none !important;
}
.hide-sidebar .sidebar-toggle > i {}
section.content.has-sidebar aside.sidebar {
  -webkit-transition: right 0.6s;
  -moz-transition: right 0.6s;
  -ms-transition: right 0.6s;
  -o-transition: right 0.6s;
  transition: right 0.6s;
  display: block;
}
section.content.hide-sidebar aside.sidebar {
  right: -297px;
}
aside.sidebar > .inner {
  padding: 0 30px;
  background: none !important;
  position: relative;
}
aside.menu > nav#main {
  padding-top: 20px;
}
aside.menu > nav#main ul,
aside.menu > nav#main ul li {
  padding: 0;
  margin: 0;
  position: relative;
}
aside.menu > nav#main ul li a {
  text-decoration: none !important;
}
aside.menu > nav#main ul li.nav-parent:after {
  position: absolute;
  font-family: FontAwesome;
  content: "\f107";
  color: white;
  right: 15px;
  top: 10px;
  font-size: 16px;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
aside.menu > nav#main ul li.nav-parent.nav-expanded:after {
  transform: rotate(180deg);
}
aside.menu > nav#main ul li.nav-parent > ul {
  overflow: hidden;
  max-height: 0;
  height: auto;
  padding: 0;
  background: rgba(0,0,0,0.7);
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
aside.menu > nav#main ul li.nav-parent.nav-expanded > ul {
  max-height: 1000px;
}
aside.menu > nav#main ul li.nav-parent > ul > li > a {
  font-size: 14px;
  padding-left: 40px;
}
aside.menu > nav#main ul li.nav-parent > ul > li > a > i {
  font-size: 14px;
}
aside.menu > nav#main ul li a {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  color: #4a5959;
  height: 40px;
  padding: 0;
  line-height: 38px;
  background: rgba(0,0,0,0.04);
  border-bottom: 1px solid rgba(0,0,0,0.1);
  -webkit-transition: background 500ms ease;
  -moz-transition: background 500ms ease;
  -ms-transition: background 500ms ease;
  -o-transition: background 500ms ease;
  transition: background 500ms ease;
}
aside.menu > nav#main ul li a span {
  margin-left: 10px;
}
aside.menu > nav#main ul li a i {
  font-size: 20px;
  background: $nav_item_icon_bg;
  width: 40px;
  display: inline-block;
  text-align: center;
  height: 40px;
  line-height: 40px;
}
aside.menu > nav#main ul li a:hover {
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}
.page-content {
  padding: 30px;
}
header .page-title {
  float: left;
}
header .page-title h1 {
  font-size: 18px;
  height: 50px;
  line-height: 50px;
  text-transform: uppercase;
  padding-left: 15px;
  margin-bottom: 0;
  margin-top: 0;
}
aside.menu header a.logo {
  height: 50px;
  display: block;
  line-height: 50px;
}
aside.menu header a.logo img {
  max-width: 180px;
  width: 100%;
  height: auto;
}
.status-bar {
  position: absolute;
  right: 261px;
  top: 0;
  float: right;
  height: 50px;
  z-index: 9;
}
.status-bar button {
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 20px;
  color: rgba(0,0,0,0.3);
  background: none;
  border: none;
  border-left: 1px solid #ccc;
  outline: none;
}
.status-bar > div {
  height: 50px;
  width: 50px;
  display: inline-block;
}
#normal.active,
#reminder.active {
  color: $cirons_blue;
}
.status-bar > div > button.active i.fa {
  -webkit-animation-name: shakeme;
  -webkit-animation-duration: 500ms;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-delay: 1s;
}
@-webkit-keyframes shakeme {
  0% {
    transform: translate(0px, 0px);
  }
  10% {
    -webkit-transform: translate(-1px, 0px);
  }
  20% {
    -webkit-transform: translate(-3px, 0px);
  }
  30% {
    -webkit-transform: translate(0px, 0px);
  }
  40% {
    -webkit-transform: translate(1px, 0px);
  }
  50% {
    -webkit-transform: translate(-1px, 0px);
  }
  60% {
    -webkit-transform: translate(-3px, 0px);
  }
  70% {
    -webkit-transform: translate(2px, 0px);
  }
  80% {
    -webkit-transform: translate(-1px, 0px);
  }
  90% {
    -webkit-transform: translate(2px, 0px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
  }
}
#urgent.active {
  color: #DA3F49;
}
.user-bar {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  float: right;
  width: 260px;
  height: 50px;
  z-index: 9;
  border-left: 1px solid #eee;
}
.user-bar > nav > span {
  line-height: 50px;
  width: 100%;
  height: 50px;
  display: block;
  padding-left: 20px;
}
.user-bar > nav > span > img {
  width: 30px;
  height: 30px;
  display: inline;
  line-height: 30px;
  border-radius: 50%;
  margin-right: 15px;
  vertical-align: middle;
  margin-top: -2px;
}
.user-bar > nav > span > i.angle.down.icon {
  position: absolute;
  right: 10px;
  top: 20px;
}
.user-bar > nav > ul,
.user-bar > nav > ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  i.fa {
    margin-right: 10px;
  }
}
.user-bar > nav > ul {
  height: auto;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
  background: white;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  width: 100%;
  -webkit-box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.2);
  -moz-box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.2);
  box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.2);
  z-index: 999;
}
.user-bar:hover > nav > ul {
  max-height: 1000px;
}
.user-bar > nav > ul > li > a {
  padding: 13px 15px;
  display: block;
  font-size: 14px;
  color: rgba(0,0,0,.8);
  border-bottom: 1px solid #eee;
}
.user-bar > nav > ul > li > a:hover {
  background: rgba(0,0,0,0.03);
}
.user-bar > nav > ul > li:last-child a {
  border-bottom: 0;
}
.gridster ul li {
  background: none;
  list-style: none;
  display: block;
}
.profile-img img {
  max-width: 100%;
  height: auto;
  width: 100%;
}
tr[data-id] {
  background: #e6fdff;
  display: none;
  transition: all 500ms ease;
}
tr[data-id].sec,
tr[data-tr].open.sec,
tr[data-url].open.sec {
  background: #d1ffd3;
}
tr[data-id].open {
  display: table-row;
}
tr[data-tr],
tr[data-url] {
  cursor: pointer;
  transition: all 500ms ease;
}
tr[data-tr].open,
tr[data-url].open {
  background: #bdeeff;
}
tr[data-tr].delete,
tr[data-url].delete {
  background: #FFBDBD;
}
.ui.form select {
  height: 38px;
  max-height: 38px;
}
.ui.form input[type="date"] {
  max-height: 38px;
}
.multiple_vat_rows .input {
  margin-bottom: 6px;
}
.multiple_vat_rows .input .ui.label {
  width: 80px;
  text-align: center;
}
.vatsum {
  font-size: 22px;
  font-weight: 100;
  text-align: center;
}
.employee_cost_chart_box {
  height: 100px;
  max-height: 100px;
  padding: 20px;
}
.employee_cost_chart_box span {
  font-size: 16px;
  color: black;
  display: block;
  text-align: center;
  padding-bottom: 10px;
}
.employee_cost_chart_box strong {
  font-size: 26px;
  font-weight: 100;
  display: block;
  text-align: center;
}
/* columns of same height styles */
.row-full-height {
  height: 100%;
}
.col-full-height {
  height: 100%;
  vertical-align: middle;
}
.row-same-height {
  display: table;
  width: 100%;
  /* fix overflow */
  table-layout: fixed;
}
.col-xs-height {
  display: table-cell;
  float: none !important;
}
/* vertical alignment styles */
.col-top {
  vertical-align: top;
}
.col-middle {
  vertical-align: middle;
}
.col-bottom {
  vertical-align: bottom;
}
.segment.widget iframe {
  background: white;
  border: 0;
  max-height: 100%;
}
.gridedit {
  position: relative;
}
.ui.widget.segment {
  padding: 0;
  border-radius: 0;
  border: none;
}
.gridedit:before {
  content: "";
  position: absolute;
  width: 100%;
  background: rgba(255,255,255,0.7);
  z-index: 99;
  cursor: move;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
li[data-row] .segment,
li[data-row] .segment iframe {
  height: 100% !important;
  width: 100% !important;
}
div#ui-datepicker-div.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all {
  z-index: 9999 !important;
}
iframe.qe {
  border: none;
  border-radius: 0;
  width: 100%;
  min-height: 50px;
}
table.dyn-qe .ui.segment {}
table tr.add {
  background: $cirons_blue;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
}
table tr.add.open {
  color: #535353;
  text-shadow: none;
}
.ui.table td.positive,
.ui.table tr.positive td {
  background: #E7F9FF !important;
}
.ui.table tfoot th,
.ui.table thead th,
.ui.table tbody th {
  cursor: auto;
  background: #eeeeee;
  text-align: left;
  color: rgba(0,0,0,.8);
  padding: 0.7em 0.8em;
  vertical-align: middle;
  font-style: none;
  font-weight: 700;
  text-transform: none;
  border-bottom: 1px solid #d4d4d5;
  border-left: none;
}
form label {
  display: block;
  font-size: 14px;
}
form select {
  display: block;
  width: 100%;
  max-width: 100%;
}
.create-order {}
.checkin-timer {
  padding: 30px;
}
.checkin-timer div.clock {
  height: 60px;
  text-align: center;
  font-size: 24px;
  font-weight: 100;
  color: rgb(73, 198, 168);
  border-radius: 5px;
  line-height: 60px;
  border: 1px solid rgb(73, 198, 168);
  margin-bottom: 20px;
}
.widget > span:first-child {
  cursor: auto;
  background: #fff;
  text-align: left;
  color: rgba(0,0,0,.8);
  padding: 0 0.8em;
  height: 35px;
  line-height: 35px;
  vertical-align: middle;
  font-style: none;
  font-weight: 700;
  text-transform: none;
  border-bottom: 1px solid #d4d4d5;
  font-size: 1em;
  display: block;
}
.filter_dropdown {
  display: none;
  position: absolute;
  top: 50px;
  z-index: 999;
  left: 0;
  width: 200px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.filter_dropdown ul {
  padding: 0;
  margin: 0;
}
.filter_dropdown ul li {
  display: block;
  border-bottom: 1px solid #ccc;
  font-size: 12px;
  height: 30px;
  padding: 0 8px;
  line-height: 30px;
}
.filter_dropdown ul li input {
  margin-right: 10px;
}
.filter_calendar_holder {
  position: relative;
  display: inline-block;
}
.tabs a {
  background-color: transparent;
  font-weight: 400;
  margin: 0 0 -3px;
  text-decoration: none !important;
  border-radius: 0;
  -webkit-transition: all 0.2s ease;
  transition: color 0.2s ease;
  padding: 0.6em 0.95em;
  border-bottom: 3px solid transparent;
  position: relative;
  display: inline-block;
  color: rgba(0,0,0,.6);
}
.tabs a:hover {
  color: rgba(0,0,0,.8);
}
.tabs a.active {
  border-color: rgba(0,0,0,.4);
  box-shadow: none;
  color: rgba(0,0,0,.8);
}
.tabs {
  border-bottom: 3px solid rgba(0,0,0,.1);
  margin-bottom: 10px;
}
.tab-content div[data-tab] {
  display: none;
}
.tab-content div[data-tab].active {
  display: block;
}
#speech {
  border: none;
  background: none;
  float: left;
  display: block;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 30px;
  color: rgba(0,0,0,0.3);
  border-right: 1px solid #ccc;
}
#speech.active {
  background: #eee;
}
section#toolbar form {
  display: inline-block !important;
  margin: 0;
  padding: 0;
}
.td-edit {
  background: #eee;
  border-bottom: 1px solid #ccc;
  padding: 1px 3px;
  display: block;
  font-size: 12px;
  border-radius: 3px;
  cursor: text;
}
.td-edit:hover {
  background: #ECFFFF;
}
.filter_links {
  padding: 0 10px;
}
td.price input {
  width: 77px !important;
  float: left;
}
td.price div.ui.attached.right.button {
  float: left;
  padding: 8px !important;
}
section.content > .inner {
  background-color: #eee;
}
.content > .inner .ui.widget.segment {
  box-shadow: none;
  border-radius: 0;
  overflow: hidden;
}
.modelselect {
  display: inline-block;
  position: relative;
}
.modelselect button.model-select-button {
  background: $cirons_blue;
  color: white;
  display: inline-block;
  padding: 0 0.75em;
  text-align: left;
  border-radius: 0 0.2857rem 0.2857rem 0;
  font-weight: 700;
  line-height: 1;
  font-style: normal;
  cursor: pointer;
  min-height: 1em;
  outline: 0;
  border: none;
  vertical-align: baseline;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
}
.gridster ul li {}
.widget > span:first-child {
  position: absolute;
  top: -35px;
  width: 100%;
  display: none;
}
.gridster ul li {
  overflow: visible;
}
.content > .inner .ui.widget.segment {
  overflow: visible;
}
.content > .inner .ui.widget.segment iframe {
  overflow: hidden;
}
.gridster ul {
  padding: 0 !important;
  margin: 0 !important;
}
.tooltipster-shadow {
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 0 14px rgba(0,0,0,0.3);
  color: #2c2c2c;
}
.tooltipster-shadow .tooltipster-content {
  font-size: 14px;
  line-height: 16px;
  padding: 8px 10px;
}
/* http://cssarrowplease.com/ */
.arrow_box {
  position: relative;
  background: #eeeeee;
  margin-top: 15px;
  padding: 10px;
  border-radius: 3px;
}
.arrow_box:after {
  bottom: 100%;
  left: 18px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(238, 238, 238, 0);
  border-bottom-color: #eeeeee;
  border-width: 8px;
  margin-left: -8px;
}
.arrow_box.inline {
  display: inline-block;
}
td.checkbox.checked {
  background: #ACEAA4;
}
ul.notification-list {
  display: block;
  width: auto;
}
ul.notification-list,
ul.notification-list li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: block;
}
ul.notification-list li div.active {
  background: #E3E9EA;
}
ul.notification-list li > div {
  display: block;
  padding: 12px;
  width: 300px;
  border-bottom: 1px solid #ccc;
  transition: all 500ms ease;
  cursor: pointer;
}
ul.notification-list li:last-child > div {
  border: none;
}
ul.notification-list li > div:hover {
  background: #eee;
}
ul.notification-list li div span {
  font-size: 12px;
  line-height: 14px;
}
ul.notification-list li div .notification-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: no-repeat center center;
  background-size: cover;
  float: left;
}
ul.notification-list li div .notification-text {
  width: 236px;
  float: right;
}
.ui.popup.notification-popup {
  padding: 0 !important;
}
.no-notifications {
  padding: 15px;
  width: 300px;
  font-size: 14px;
  color: black;
}
.notification-row-urgent {
  background: #FFE6E6;
}
.notification-row-reminder {
  background: #EBFFFF;
}
body.dashboard section.content .inner {
  background: #dde7ed;
}
body.dashboard section.content .inner .page-content {
  padding: 0;
}
body.dashboard .dashboard-tabs {
  height: 60px;
  background-color: white;
  border-bottom: 1px solid #ccc;
}
body.dashboard .dashboard-tabs ul,
body.dashboard .dashboard-tabs ul li {
  padding: 0;
  margin: 0;
  list-style: none;
}
body.dashboard .dashboard-tabs ul li {
  display: inline;
}
body.dashboard .dashboard-tabs nav {
  padding: 0 30px;
}
body.dashboard .dashboard-tabs ul li a {
  display: inline-block;
  text-decoration: none;
  color: #4e4e4e;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  height: 60px;
  line-height: 60px;
  padding: 0 20px;
}
body.dashboard .dashboard-tabs ul li a span {
  display: inline-block;
  border-bottom: 4px solid rgba(0,0,0,0);
  height: 58px;
  line-height: 57px;
  transition: all 300ms ease;
}
body.dashboard .dashboard-tabs ul li a.active span {
  border-bottom: 4px solid $cirons_blue;
}
body.dashboard .dashboard-tabs ul li a:hover span {
  border-bottom: 4px solid #ccc;
}

body.dashboard .cirons-tabs {
    height: 60px;
    position: relative;
    .fixed-tabs {
        position: fixed;
        height: 60px;
        right: 0;
        left: 260px;
        z-index: 99;
    }
}

body.dashboard .dashboard-tabs {
  position: relative;
  div.tabbar-chart {
    position: absolute;
    width: auto;
    right: 0;
    top: 0;
    ul {
      margin: 0;
      padding: 0;
      height: 60px;
      padding-right: 10px;
      li {
        border: none;
        display: inline-block;
        margin: 0;
        padding: 10px;
        border-right: 1px solid #ccc;
        text-align: right;
        span {
          display: block;
          margin: 0;
          font-size: 12px;
          font-weight: 400;
          color: rgba(0,0,0,0.8);
        }
        strong {
          color: $cirons_blue;
          font-weight: 400;
          display: block;
          margin: 0;
        }
      }
      li:last-child {
        border: none;
      }
    }
  }
}
body.dashboard .dashboard-content {
  padding: 30px 50px;
}
.widget {
  background: none;
  margin: 0;
  padding: 0;
  border: none;
  box-shadow: none;
  border-radius: 0;
}
$widget_table_height: 40px;
.widget-table {
  width: 100%;
  border: none;
}
.widget-table td {
  padding: 14px;
  background-color: white;
  color: #4e4e4e;
  font-size: 14px;
}
.widget-table td.place {
  background-color: $cirons_blue;
  width: $widget_table_height;
  color: white;
  height: $widget_table_height;
  text-align: center;
  vertical-align: middle;
  padding: 0;
  font-size: 18px;
}
.widget-table td.arrow {
  width: $widget_table_height;
  cursor: pointer;
  background-color: #d7d7d7;
  color: #9c9c9c;
  font-size: 24px;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}
.widget-table td.arrow i.icon {
  margin: 0;
  transition: all 500ms ease;
}
.widget-table tr.active td.arrow i.icon {
  transform: rotate(180deg);
}
.widget-table td.stat {
  padding: 0 10px;
  text-align: center;
  vertical-align: middle;
}
.widget-table td.stat span {
  font-size: 10px;
  display: block;
  text-transform: uppercase;
  color: #828282;
  max-width: 100%;
  margin-bottom: 0;
  text-align: left;
}
.widget-table td.stat strong {
  display: block;
  font-size: 14px;
  color: #4e4e4e;
  max-width: 100%;
  font-weight: 300;
  text-align: left;
}
.widget-table td.blue1 {
  background-color: #d9e9f4;
}
.widget-table td.blue2 {
  background-color: #e1f4ff;
}
.widget-table td.blue3 {
  background-color: #b5d3e9;
}
.widget-table td.blue4 {
  background-color: #a4c7e0;
}
.widget-table td.blue5 {
  background-color: #8db8d6;
}
.widget-table tr[data-toggle] {
  padding: 0;
}
.widget-table tr[data-toggle].active {
  display: table-row;
}
.widget-table tr[data-id] td,
.widget-table tr[data-toggle].active > td {
  border-bottom: 2px solid #aed0e4;
}
.widget-table tr[data-id].active td {
  border: none;
}
.widget-table tr[data-toggle] > td {
  padding: 0;
}
.widget-table tr[data-toggle] > td > table td {
  height: $widget_table_height;
}
.widget-table tr[data-toggle] > td > table {
  width: 100%;
}
.widget-table tr[data-id] {
  display: table-row;
  background: white;
}
.widget-table tr[data-toggle].active {
  display: table-row;
}
.widget-table tr[data-id].active + .widget-table tr[data-toggle] {
  display: table-row;
}
.widget-table tr[data-toggle] > td > table td.notification {
  width: $widget_table_height;
  height: $widget_table_height;
  padding: 0;
  vertical-align: middle;
  text-align: center;
  font-size: 24px;
}
.widget-table tr[data-toggle] > td > table td.notification.warning {
  background: #eaeb88;
  color: rgba(0,0,0,0.3);
}
.cashflow-table {
  background: none !important;
  border: none !important;
}
.cashflow-table th {
  text-transform: uppercase;
  font-size: 14px;
}
.cashflow-table td {
  font-size: 14px;
  background: white;
}
.cashflow-table .chart_col {
  border: none !important;
  background: none !important;
}
.widget {
  margin-bottom: 20px;
}
.ui.card.invoice-card {
  max-width: 100%;
  width: 100%;
}
table.card-compact-table {
  width: 100%;
  border-collapse: collapse;
}
table.card-compact-table td,
table.card-compact-table th {
  font-size: 11px;
  padding: 3px;
  border: 1px solid #eee;
}
table.card-compact-table th,
table.card-compact-table td {
  text-align: left;
}
table.card-compact-table th {
  background: #eee;
}
table.card-compact-table .right-aligned {
  text-align: right !important;
}
table.card-compact-table tfoot td {
  border-top: 2px solid #ccc;
}
ul.rules_sortable {
  padding: 0;
  margin: 0;
}
ul.rules_sortable li {
  list-style: none;
  background: white;
  border: 1px solid #ccc;
  padding: 7px;
  border-bottom: none;
}
ul.rules_sortable li:last-child {
  border-bottom: 1px solid #ccc;
}
.pipeline > div > ul {
  padding: 0;
  margin: 0;
  min-height: 50px;
}
.pipeline > div > ul > li {
  margin: 0;
  border-radius: 3px;
  padding: 10px 5px;
  list-style: none;
  background: #eee;
  display: block;
  margin-bottom: 5px;
  cursor: move;
}
tr.add td {
  border-bottom: 5px solid #1B5E8A !important;
  padding-bottom: 5px !important;
}
.pipeline .ui-state-highlight {
  margin: 0;
  border-radius: 3px;
  padding: 10px 5px;
  list-style: none;
  background: #7589A7;
  display: block;
  margin-bottom: 5px;
}
tr.month-seperator {
  background: #e6e6e6;
}
table.ui.table.celled {
  box-shadow: 0 1px 3px rgba(0,0,0,0.15);
  border-radius: 0;
}
table.ui.table.celled td {
  border-right: 0;
  border-left: 0;
}
.ui.fluid.input .model_selector input {
  width: 100%;
  max-width: 100%;
}
.ts-table input {
  padding: 10px;
  font-size: 14px;
  border-radius: 3px;
  border: 1px solid #ccc;
}
.ts-table .ts-pagination ul,
.ts-table .ts-pagination ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.ts-table .ts-pagination ul li {
  display: inline;
}
.ts-table .ts-pagination ul li a {
  padding: 8px;
  border-radius: 3px;
  background: #eee;
  font-size: 14px;
  margin-right: 5px;
}
.ts-table .ts-pagination ul li a:hover {
  background: #ccc;
}
.ts-table .ts-pagination ul li a.ts-page-active {
  background: $cirons_blue;
  color: white;
}
.select_modal .ts-table table tr {
  cursor: pointer;
}
.invoice_notes {}
.section-boxes .right.floated.icon {
  font-size: 2em;
}
.section-box-number {
  width: 100%;
  border: none;
  margin: 15px 0 5px;
}
.section-box-number h3 {
  font-weight: 300;
  margin-bottom: 0;
}
.section-box-number p {
  color: #9CABB2;
  font-size: 16px;
}
.section-icon .description {
  height: 60px;
}
.section-icon .vmid {
  height: 60px;
  vertical-align: middle;
  display: table-cell;
  width: 100%;
}
.section-icon .button-content {
  padding-top: 20px;
}
aside.menu > nav#main ul li.endgroup {
  margin-bottom: 15px;
}
aside.menu > nav#main ul li.startgroup {
  margin-top: 15px;
}
.valierror_inside .popup {
  border: 1px solid red;
  color: red;
}
body > #progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  .load {
    display: none;
    transition: all 200ms ease;
    background: lighten($cirons_blue,6%);
    height: 3px;
    width: 10px;
    -webkit-box-shadow: 0 0 3px 0 lighten($cirons_blue,6%);
    -moz-box-shadow: 0 0 3px 0 lighten($cirons_blue,6%);
    box-shadow: 0 0 3px 0 lighten($cirons_blue,6%);
  }
  .load.hide {
    opacity: 0;
    transition: opacity 1.3s;
  }
}
.add_payment_to_invoice {
  text-align: center;
  padding-bottom: 20px;
}
table tr td.right,
table tr th.right {
  text-align: right !important;
}
.profit-cost {
  width: 100%;
  background: #ccc;
  @include border-radius(3px);
  div {
    text-align: right;
    font-size: 12px;
    padding: 3px;
    color: rgba(255,255,255,0.7);
    @include border-radius(3px);
  }
  .profit-positive {
    background: #21ba45;
  }
  .profit-negative {
    background: #db2828;
  }
}
$pin_height: 160px;
.gauge {
  position: relative;
  overflow: hidden;
  .pin {
    height: $pin_height;
    width: 2px;
    background: black;
    transform: rotate(45deg);
    position: absolute;
    z-index: 999;
    right: 50%;
    margin-bottom: 5px;
    bottom: 0;
    transform-origin: 1px $pin_height;
  }
  .pin:before {
    content: "";
    font-size: 12px;
    color: black;
    margin-top: -30px;
    width: 80px;
    top: 5px;
    text-align: center;
    left: -41px;
    position: absolute;
  }
  .pin.min:before {
    content: "Minimum";
  }
  .pin.min {
    transform: rotate(-45deg);
  }
}
#settings .icon.info.circle {
  color: $cirons_blue !important;
  cursor: help;
}
.additional_costs {
  padding-bottom: 40px;
  h3 {
    margin: 0;
    padding: 0;
    line-height: 24px;
    border-bottom: 2px solid $cirons_blue;
    color: black;
    text-align: right;
    font-size: 24px;
    font-style: italic;
    display: block;
  }
  .fields.fixed {
    .field:first-child {
      input {
        background: none;
        border: none;
        color: black !important;
        opacity: 1;
      }
    }
  }
  input {
    text-align: right !important;
  }
}
table.info-table {
  width: 100%;
  tr {
    td {
      padding: 10px 15px;
      font-size: 14px;
    }
  }
}
.supplier_invoice_upload {
  .upload {
    background: url(/_assets/img/upload.png) no-repeat center center;
    background-size: 300px 300px;
    width: 300px;
    margin: auto;
    height: 300px;
  }
}
.supplier_chart {
  padding-bottom: 30px;
  height: 150px;
}
.ui.breadcrumb li {
  float: left;
  list-style-type: none;
  margin-right: 10px;
}
// .ui.breadcrumb a:after {
//   font-family: FontAwesome;
//   content: "\f054";
//   padding-left: 10px;
//   color: #eaeaea;
// }
//.active {
//    background:red;
//    color:blue;
//}
.loginUnauth {
  width: 500px;
  margin: auto;
}
.overwriteBg {
  background-color: #eee !important;
}
.logo {
  max-width: 200px;
  margin: auto;
  padding-bottom: 30px;
}
.logo img {
  max-width: 100%;
}
.breadcrumb {
  background: none !important;
}
.ui.cards>.card {
  @include border-radius(0);
}

.dashboard {
    .accounts_left {
        width: 50%;
        float: left;

        span > div {
            margin-bottom: 20px;
        }
    }
    .accounts_right {
        width: 50%;
        float: right;
    }
}

#loading {
  height: 100%;
  width: 100%;
  background: #3681b1;
  line-height: 300px;
  color: white;
  font-size: 42px;
  position: fixed;
  z-index: 99999;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: Helvetica Neue, Helvetica, sans-serif;
  transition: all 300ms ease;
  opacity: 1;
  visibility: visible;
}

.pane-tabs {
  height: 60px;
  background-color: white;
  border-bottom: 1px solid #ccc;
  margin: 0 -30px 20px -30px;
}
.pane-tabs ul,
.pane-tabs ul li {
  padding: 0;
  margin: 0;
  list-style: none;
}
.pane-tabs ul li {
  display: inline;
}
.pane-tabs nav {
  padding: 0 30px;
}
.pane-tabs ul li a {
  display: inline-block;
  text-decoration: none;
  color: #4e4e4e;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  height: 60px;
  line-height: 60px;
  padding: 0 20px;
}
.pane-tabs ul li a span {
  display: inline-block;
  border-bottom: 4px solid rgba(0,0,0,0);
  height: 58px;
  line-height: 57px;
  transition: all 300ms ease;
}

.pane-tabs ul li:first-child a {
    padding-left: 0 !important;
}

.pane-tabs ul li a.active span {
  border-bottom: 4px solid $cirons_blue;
}

.pane-tabs ul li a:hover span {
  border-bottom: 4px solid #ccc;
}

.pane-steps {
    margin: 0 -30px 0 -30px;

    .ui.steps {
        margin: 0;
    }

    .steps-toolbar {
        padding: 20px;
        border-bottom: 1px solid #ccc;
    }
}

.dropdown-div {
    display: inline;
}

.cashflow-sheet {
    height: 370px;
    select {
        width: 100%;
    }

    .total, .end {
        td {
            border-top: 2px solid $cirons_blue !important;
        }
    }
}

.after-cashflow-chart {
    padding-top: 30px !important;
}

.net-positions {
    span.desc {
        font-size: 14px;
        color: rgba(0,0,0,0.6);
        display: block;
        padding: 10px 0;
        text-align: center;
        font-weight: 400;
    }

    span.sum-desc {
        font-size: 12px;
        color: rgba(0,0,0,0.6);
        display: block;
        padding: 10px 0 3px 0;
        text-align: center;
        font-weight: 400;
    }

    strong.sum {
        font-size: 16px;
        font-weight: bold;
        display: block;
        text-align: center;
        color: $cirons_blue;
    }

    strong.sum.negative {
        color: #DB2828;
    }

    div.divider {
        height: 10px;
    }
}

.seperator {
    height: 20px;
}

.field h3 {
    margin: 0;
    padding: 0;
}

.field-desc {
    font-weight: bold;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
}

.table-toggle {
    td {
        transition: all 500ms ease;
    }
    .toggler:hover, tr.toggled {
        td {
            background: $cirons_light;
        }
    }
}

.open-view {
    .ui.form {
        .inline.field {
            label {
                min-width: 120px;
                display: inline-block;
            }
            input, select {
                width: 100%;
                max-width: 250px;
                display: inline-block;
            }
        }
    }
}

.cirons-upload {
    .drop {
        background: url(assets/images/upload.png) no-repeat center center;
        background-size: 100% auto;
        padding-top: 100%;
        width: 100%;
        cursor: pointer;
    }

    ul.list {
            margin: 0;
            padding: 0;
            li {
                margin: 0;
                padding: 7px;
                border-bottom: 1px solid #ccc;
                font-size: 14px;
                list-style: none;

                a {
                    color: $cirons_blue;
                    text-decoration: none;
                }
            }
        }

}

.mobile-back-button {
    display: none;
}

.ui.table.celled.object-table {
    border: none;
    tbody {
        tr {
            transition: all 300ms ease;
            td {
                span.ui.label {
                    background-color: rgba(0,0,0,0) !important;
                }
            }
        }
        tr {
            cursor: pointer;
        }
        tr:hover {
            background: $table_row_hover_bg;
        }
    }
}

.object-tabe-heading {
    padding: 20px;
    background: white;
    border-bottom: 1px solid #ccc;
}

@import "_comments";
@import "_timeline";
@import "_wizard";
@import "_orderrows";
@import "_dashboard";
@import "_split_table";
@import "_common";
@import "_responsive";
#loading {
  opacity: 0 !important;
  visibility: hidden !important;
}

aside.menu header a.logo img {
    max-width: 180px;
    width: 100%;
    height: auto;
    margin-top: 10px !important;
}
