<h4 class="ui horizontal divider header">
	<i class="info icon"></i>
	Invoice Information
</h4>

<div class="ui grid stackable">
    <div class="column eight wide">
        <div ng-hide="editContact">
            <div class="ui attached segment blue">
                <div class="ui grid stackable">
                    <div class="column six wide">
                        <label>Customer</label>
                    </div>
                    <div class="column ten wide">
                        {{invoice.contact.name}}
                    </div>

                    <div class="column six wide">
                        <label>Contact Name</label>
                    </div>
                    <div class="column ten wide">
                        {{invoice.contact.first_name}}
                        {{invoice.contact.last_name}}
                    </div>

                    <div class="column six wide">
                        <label>Email</label>
                    </div>
                    <div class="column ten wide">
                        {{invoice.contact.primary_email}}
                    </div>

                    <div class="column six wide">
                        <label>Phone</label>
                    </div>
                    <div class="column ten wide">
                        {{invoice.contact.primary_phone}}
                    </div>
                </div>
            </div>
            <div ng-click="editContact = !editContact; getContacts();" class="ui bottom attached button" tabindex="0">Edit</div>
        </div>
        <div ng-show="editContact">
            <div class="ui attached segment blue">
                    <label>Search customers</label>
                    <input ng-model="newContact" type="text" uib-typeahead="item as item.name for item in contacts | filter:{name:$viewValue}">
            </div>
            <div ng-click="saveContact(newContact); editContact = false;" class="ui bottom attached teal button" tabindex="0">Save</div>
            <div ng-click="editContact = !editContact; newContact = null;" class="ui bottom attached negative button" tabindex="0">Cancel</div>
        </div>

    </div>
    <div class="column eight wide">
        <div class="ui segment blue">
			<div class="inline fields">
                <label>Invoice Date</label>
                <input type="date" ng-model="invoice.date" ng-change="changeDates()">
            </div>
			<div class="inline fields">
                <label>Due days</label>
                <input type="text" ng-model="invoice.duedays" ng-blur="changeDates()">
            </div>
            <div class="inline fields">
                <label>Currency</label>
                <select ng-model="invoice.currency" ng-change="changeCurrency()">
                    <option ng-repeat="currency in settings.currencies" value="{{currency.ISO}}">{{currency.ISO}}</option>
                </select>
            </div>
            <div class="inline fields">
                <label>Price List</label>
                <select ng-model="invoice.price_list_id" ng-change="changePriceList()">
                    <option ng-repeat="price_list in settings.price_lists" value="{{price_list.id}}">{{price_list.name}}</option>
                </select>
            </div>
            <div class="field">
                <label>Invoice Notes</label>
                <textarea class="ui input fluid" ng-blur="changeNotes()" ng-model="invoice.notes"></textarea>
            </div>
        </div>
    </div>
</div>

<h4 class="ui horizontal divider header">
	<i class="tag icon"></i>
	Invoice Description
</h4>

<table class="ui table celled compact">
    <thead>
        <tr>
            <th>Product</th>
            <th>Ordered</th>
            <th>Shipped</th>
            <th>Unit</th>
            <th>VAT</th>
            <th>Unit Price</th>
            <th>Row Total</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="row in invoice.order_rows">
            <td>{{row.product.name}}</td>
            <td>
                <input ng-blur="updateRow(row)" type="text" ng-model="row.ordered">
            </td>
            <td>
                <input ng-blur="updateRow(row)" type="text" ng-model="row.q">
            </td>
            <td>
                <select ng-change="updateRow(row)" ng-model="row.q_type">
					<option value="0">units</option>
					<option value="1">litre</option>
					<option value="2">hour</option>
					<option value="3">tonne</option>
					<option value="4">mm</option>
					<option value="5">kwh</option>
					<option value="6">m²</option>
					<option value="7">metre</option>
					<option value="8">month</option>
					<option value="9">km</option>
					<option value="10">m³</option>
					<option value="11">kg</option>
					<option value="12">day</option>
					<option value="13">gram</option>
				</select>
            </td>
            <td>
                <select ng-change="updateRow(row)" ng-model="row.vat_id">
					<option ng-repeat="rule in $root.s.vat_rules" value="{{rule.id}}">{{rule.percent}}%</option>
				</select>
            </td>
            <td>
                <input ng-blur="updateRow(row)" type="text" ng-model="row.price">
            </td>
            <td>
                {{row.price * row.q | number : 2}}
            </td>
        </tr>
        <tr>
            <th colspan="7">
                Add new row
            </th>
        </tr>
        <tr>
            <td>
                <input ng-model="newrow.product" type="text" uib-typeahead="item as item.name for item in products | filter:{name:$viewValue}">
            </td>
            <td>
                <input ng-enter="addOrderRow()" type="text" ng-model="newrow.ordered">
            </td>
            <td>
                <input ng-enter="addOrderRow()" type="text" ng-model="newrow.q">
            </td>
            <td>
                <select ng-model="newrow.q_type">
					<option value="0">units</option>
					<option value="1">litre</option>
					<option value="2">hour</option>
					<option value="3">tonne</option>
					<option value="4">mm</option>
					<option value="5">kwh</option>
					<option value="6">m²</option>
					<option value="7">metre</option>
					<option value="8">month</option>
					<option value="9">km</option>
					<option value="10">m³</option>
					<option value="11">kg</option>
					<option value="12">day</option>
					<option value="13">gram</option>
				</select>
            </td>
            <td>
                <select ng-model="newrow.vat_id">
					<option ng-repeat="rule in $root.s.vat_rules" value="{{rule.id}}">{{rule.percent}}%</option>
				</select>
            </td>
            <td>
                <input ng-enter="addOrderRow()" type="text" ng-model="newrow.price">
            </td>
            <td>
                <button type="button" ng-click="addOrderRow()" class="ui button teal tiny">Add</button>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th colspan="5">
            </th>
            <th>
                Sub Total
            </th>
            <th>
                {{subTotal | number: 2}}
            </th>
        </tr>
        <tr>
            <th colspan="5">
            </th>
            <th>
                Total VAT
            </th>
            <th>
                {{totalVAT | number: 2}}
            </th>
        </tr>
        <tr>
            <th colspan="5">
            </th>
            <th>
                Grand Total
            </th>
            <th>
                {{grandTotal | number: 2}}
            </th>
        </tr>
    </tfoot>
</table>

<div style="height: 40px;"></div>

<div class="ui grid stackable">
  <div class="column eight wide">

  </div>
  <div class="column eight wide">
	  <div class="ui segment blue">

		  <div class="field">
			  <label>Shipping Cost</label>
			  <input type="text" ng-model="invoice.shipping_cost" ng-enter="saveCosts()" ng-blur="saveCosts()">
		  </div>

		  <div class="field">
			  <label>Invoice Fee</label>
			  <input type="text" ng-model="invoice.invoice_fee" ng-enter="saveCosts()" ng-blur="saveCosts()">
		  </div>

	  </div>
  </div>
</div>
