.page-title {
  h1 {
    ol {
      display: block;
      padding: 0;
      margin: 0;

      li {
        display: inline-block;
        font-size: 16px;

        a {
          color: rgba(0,0,0,0.8);
          text-decoration: none !important;
        }
      }
    }
  }
}