<div class="dashboard-content">
  <div class="tab_content">
    <div class="ui grid stackable">
      <h4 class="ui horizontal divider header">Sales</h4>
      <div class="column sixteen wide">
          <c3chart bindto-id="sales_overview_chart" chart-x="salesOverviewX" chart-columns="salesOverviewColumns" chart-data="salesOverviewData">
              <chart-axis>
                  <chart-axis-x axis-id="x" axis-type="category"></chart-axis-x>
              </chart-axis>
          </c3chart>
      </div>
      <h4 class="ui horizontal divider header">Top Products</h4>
      <div class="column four wide">
        <c3chart bindto-id="top_products_pie" chart-data="topProductsData" chart-columns="topProductsColumns">
          <chart-pie expand="true"/>
          <chart-size chart-width="220" chart-height="220"/>
          <chart-legend show-legend="false"/>
        </c3chart>
      </div>

      <div class="column twelve wide">
        <table class="widget-table" id="top_products">
          <tbody>
            <tr ng-repeat-start="product in dashboardData.top_products track by $index" data-id="1">
              <td class="place">
                # {{$index + 1}}
              </td>
              <td>
                {{product.product_name}}
              </td>
              <td class="stat blue1" width="150px">
                <span># Sold</span>
                <strong>{{product.total_sold}} units</strong>
              </td>
              <td class="stat blue2" width="210px">
                <span>$ Sold</span>
                <strong>{{product.sold | currency:"SEK ":2}}</strong>
              </td>
              <td class="arrow">
                <i ng-click="product.show = !product.show" class="angle double down icon"></i>
              </td>
            </tr>
            <tr ng-repeat-end data-toggle="1" ng-show="product.show = false">
              <td colspan="5">
                <table>
                  <tbody>
                    <tr>
                      <td class="stat blue2" width="">
                        <span># AVG. SOLD PER MONTH</span>
                        <strong>{{product.avg_sold_per_month}} units</strong>
                      </td>
                      <td class="stat blue1" width="">
                        <span>AVG. Earnings A Month</span>
                        <strong>{{product.avg_profit_per_month | currency:"SEK ":2}}</strong>
                      </td>
                      <td class="stat blue3" width="">
                        <span>AVG. Earning Per Unit</span>
                        <strong>{{product.product_name | currency:"SEK ":2}}</strong>
                      </td>
                      <td class="stat blue4" width="">
                        <span>Stock Level</span>
                        <strong>{{product.stock}} units</strong>
                      </td>
                      <td class="stat blue5" width="">
                        <span>Est. Out of stock</span>
                        <strong>{{product.out_of_stock_date}}</strong>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <h4 class="ui horizontal divider header">Top Customers</h4>

      <div class="column four wide">
          <c3chart bindto-id="top_customers_pie" chart-data="topCustomersData" chart-columns="topCustomersColumns">
            <chart-pie expand="true"/>
            <chart-size chart-width="220" chart-height="220"/>
            <chart-legend show-legend="false"/>
          </c3chart>
      </div>

      <div class="column twelve wide">
        <table class="widget-table" id="top_customers">
          <tbody>
            <tr data-id="1" ng-repeat-start="contact in dashboardData.top_customers track by $index">
              <td class="place">
                # {{$index + 1}}
              </td>
              <td>
                {{contact.name}}
              </td>
              <td class="stat blue1" width="150px">
                <span>$ Invoiced</span>
                <strong>{{ contact.invoiced | currency:"SEK ":2 }}</strong>
              </td>
              <td class="arrow">
                <i class="angle double down icon"></i>
              </td>
            </tr>
            <tr data-toggle="1" ng-repeat-end>
              <td colspan="4">
                <table>
                  <tbody>
                    <tr>
                      <td class="stat blue2" width="">
                        <span># Orders</span>
                        <strong>{{contact.orders}}</strong>
                      </td>
                      <td class="stat blue1" width="">
                        <span>$ Total Earnings</span>
                        <strong>{{ contact.earnings | currency:"SEK ":2 }}</strong>
                      </td>
                      <td class="stat blue3" width="">
                        <span>AVG. Margin</span>
                        <strong>{{contact.avg_margin | number : 2}} %</strong>
                      </td>
                      <td class="stat blue4" width="">
                        <span>LifeTime Customer Value</span>
                        <strong>{{contact.lifetime_customer_value | number : 2}}</strong>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <h4 class="ui horizontal divider header">Top Suppliers</h4>

      <div class="column four wide">
          <c3chart bindto-id="top_suppliers_pie" chart-data="topSuppliersData" chart-columns="topSuppliersColumns">
            <chart-pie expand="true"/>
            <chart-size chart-width="220" chart-height="220"/>
            <chart-legend show-legend="false"/>
          </c3chart>
      </div>

      <div class="column twelve wide">
        <table class="widget-table" id="top_suppliers">
          <tbody>
            <tr data-id="1" ng-repeat-start="supplier in dashboardData.top_suppliers track by $index">
              <td class="place">
                # {{$index + 1}}
              </td>
              <td>
                {{supplier.company_name}}
              </td>
              <td class="stat blue1" width="150px">
                <span>$ Billed</span>
                <strong>{{ supplier.total | currency:"SEK ":2 }}</strong>
              </td>
              <td class="arrow">
                <i class="angle double down icon"></i>
              </td>
            </tr>
            <tr data-toggle="1" ng-repeat-end>
              <td colspan="4">
                <table>
                  <tbody>
                    <tr>
                      <td class="stat blue2" width="">
                        <span># Supplier Invoices</span>
                        <strong>{{supplier.supplier_invoices}}</strong>
                      </td>
                      <td class="stat blue1" width="">
                        <span># Receipts</span>
                        <strong>{{ supplier.receipts }}</strong>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- <h4 class="ui horizontal divider header">Top Suppliers</h4> -->
      <div class="column sixteen wide">
        <div class="widget">
          <h4 class="ui horizontal divider header">Stock</h4>
          <div class="widget-content">
            <table class="ui unstackable compact table">
              <thead>
                <tr>
                  <th colspan="5">
                    <div class="ui icon input fluid">
                      <input id="filter" ng-model="input.stock" ng-change="productStockItemsFilter()" placeholder="Search product..." type="text">
                      <i class="icon search"></i>
                    </div>
                  </th>
                </tr>
                <tr>
                  <th>Product Name</th>
                  <th>Quantity</th>
                  <th>Expiry Date</th>
                  <th>Out of stock</th>
                  <th>Warehouse</th>
                </tr>
              </thead>
              <tbody id="list">
                  <tr ng-repeat="stock in productStockItems">
                    <td>{{stock.product.name}}</td>
                    <td>{{stock.quantity}}</td>
                    <td>{{stock.exp_date || "Not enough info"}}</td>
                    <td>{{stock.product.out_of_stock_date}}</td>
                    <td>{{stock.warehouse.name}}</td>
                  </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
