<div class="ui cards section-boxes">
    <div class="{{color}} card section-icon">
        <div class="content">
            <i class="right floated mini ui {{color}} icon {{icon}}"></i>
            <a ui-sref="suppliers" class="header">{{type}}</a>

            <div class="meta">
               {{description}}
            </div>
            <div class="description">
                <table class="section-box-number">
                    <tr>
                        <td>
                            <div class="ui red statistic">
                                <div class="value">
                                    {{length}}
                                </div>
                            </div>
                        </td>
                        <td>
                            <h3>{{type}}</h3>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>