<form class="ui form" ng-submit="updateUser()">
  <div class="ui grid">
    <div class="column twelve wide">
      <h4 class="ui dividing header">Information</h4>
      <div class="field">
        <label>Username</label>
        <input ng-disabled="true" ng-model="username" ng-value="user.username" type="text">
      </div>

      <div class="ui fields two">
        <div class="field">
          <label>First Name</label>
          <input ng-model="first_name" ng-value="user.first_name" type="text">
        </div>

        <div class="field">
          <label>Last Name</label>
          <input ng-model="last_name" ng-value="user.last_name" type="text">
        </div>

      </div>

      <div class="ui fields two">

        <div class="field">
          <label>Job Title</label>
          <input ng-model="job_title" ng-value="user.job_title" type="text">
        </div>

        <div class="field">
          <label>Email Address</label>
          <input ng-model="email" ng-value="user.email" type="text">
        </div>

      </div>
      <h4 class="ui dividing header">Password</h4>
      <div class="ui fields two">

        <div class="field">
          <label>New Password</label>
          <input ng-model="password" type="text">
        </div>

        <div class="field">
          <label>New Password confirmation</label>
          <input ng-model="password_confirmation" type="text">
        </div>

      </div>
    </div>
    <div class="column four wide">

      <div class="field">
        <img class="img-circle" width="100%" src="http://janalex.beta.cirons.com/{{user.image}}"/>
      </div>

    </div>
  </div>

  <br>
  <button class="ui button" type="submit">Submit</button>
</form>
