
<form class="ui form">

<div class="ui grid">

  <div class="column twelve wide">

    <h4 class="ui dividing header">Information</h4>
    <!-- Username Form Input -->
    <div class="field">
      <label>Username</label>
      <input ng-model="username" type="text">
    </div>

    <div class="ui fields two">

      <!-- First_name Form Input -->
      <div class="field">
        <label>First Name</label>
        <input ng-model="first_name" type="text">
      </div>

      <!-- Last_name Form Input -->
      <div class="field">
        <label>Last Name</label>
        <input ng-model="last_name" type="text">
      </div>

    </div>

    <div class="ui fields two">

      <!-- Job_title Form Input -->
      <div class="field">
        <label>Job Title</label>
        <input ng-model="job_title" type="text">
      </div>

      <!-- Email Form Input -->
      <div class="field">
        <label>Email Address</label>
        <input ng-model="email" type="text">
      </div>

    </div>

    <div class="ui fields two">

      <!-- Password Form Input -->
      <div class="field">
        <label>New Password</label>
        <input ng-model="password" type="text">
      </div>

      <!-- Password Form Input -->
      <div class="field">
        <label>New Password confirmation</label>
        <input ng-model="password_confirmation" type="text">
      </div>

    </div>

  </div>
  <div class="column four wide">

    <!-- Image Form Input -->
<div class="field">
  <img class="img-circle" src="/uploads/images/noimage.png"/>
</div>

  </div>

</div>


<br>
  <button class="ui button" type="submit">Submit</button>
</form>
