<form editable-form name="edit_settings"  blur="submit" class="ui form" onaftersave="updateUser()">
  <div class="ui grid">
    <div class="column twelve wide">
      <h4 class="ui dividing header">Information</h4>
      <div class="field">
        <label>Username</label>
        <span ng-disabled="true" ng-value="user.username">{{user.username}}</span>
      </div>

      <div class="ui fields two">
        <div class="field">
          <label>First Name</label>
          <span editable-text="user.first_name" ng-value="user.first_name">{{user.first_name}}</span>
        </div>

        <div class="field">
          <label>Last Name</label>
          <span editable-text="user.last_name" ng-value="user.last_name" type="text">{{user.last_name}}</span>
        </div>
      </div>

      <div class="ui fields two">

        <div class="field">
          <label>Job Title</label>
          <span editable-text="user.job_title" ng-value="user.job_title">{{user.job_title}}</span>
        </div>

        <div class="field">
          <label>Email Address</label>
          <span editable-text="user.email" ng-value="user.email">{{user.email}}</span>
        </div>

      </div>
      <h4 class="ui dividing header">Password</h4>
      <div class="ui fields two">

        <div class="field">
          <label>New Password</label>
          <input ng-model="password" type="text">
        </div>

        <div class="field">
          <label>New Password confirmation</label>
          <input ng-model="password_confirmation" type="text">
        </div>

      </div>
    </div>
    <div class="column four wide">

      <div class="field">
        <img class="img-circle" src="/uploads/images/noimage.png"/>
      </div>

    </div>
  </div>
  <br/>

  <button class="ui button" ng-click="edit_settings.$show()" ng-show="!edit_settings.$visible" type="button">
    Edit
  </button>

  <button class="ui button" ng-click="edit_settings.$cancel()" ng-disabled="edit_settings.$waiting" ng-show="edit_settings.$visible" type="button">
    Cancel
  </button>

  <button class="ui button" type="submit">Submit</button>
</form>
