<!-- http://jettro.github.io/c3-angular-directive/#examples -->

<div class="dashboard-content">
  <div class="tab_content">
    <div class="ui grid stacked">
      <div class="column four wide">
        <div class="small-box" style="border-color: #66bb6a; color: #66bb6a;">
          <table height="100%" width="100%">
            <tbody>
              <tr>
                <td align="center" valign="middle" width="60px">
                  <i class="icon chart area"></i>
                </td>
                <td>

                  <span id="growth_mini_number">{{dashboardData.growth_mini}}
                    <span>
                      <strong>Growth Last Month</strong>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="column four wide">
            <div class="small-box interactive" onclick="followFilterLink('/orders/', { eq_step: 'pending' })" style="border-color: #E07B53; color: #E07B53;">
              <table height="100%" width="100%">
                <tbody>
                  <tr>
                    <td align="center" valign="middle" width="60px">
                      <i class="icon file"></i>
                    </td>
                    <td>
                      <span id="pending_orders_mini_number">{{dashboardData.pending_orders_mini}}</span>
                      <strong>Pending Orders</strong>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="column four wide">
            <div class="small-box interactive" onclick="followFilterLink('/invoices/',{ gt_date: '2015-12-01' });" style="border-color: #26a69a; color: #26a69a;">
              <table height="100%" width="100%">
                <tbody>
                  <tr>
                    <td align="center" valign="middle" width="60px">
                      <i class="icon bar chart"></i>
                    </td>
                    <td>
                      <span id="turnover_this_month_mini_number">{{dashboardData.turnover_this_month_mini.total}}</span>
                      <strong>Turnover (month)</strong>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="column four wide">
            <div class="small-box interactive" id="due_invoices_mini" onclick="followFilterLink('/invoices/', { ne_step: 'paid' })" style="border-color: rgb(246, 100, 100); color: rgb(246, 100, 100);">
              <table height="100%" width="100%">
                <tbody>
                  <tr>
                    <td align="center" valign="middle" width="60px">
                      <i class="icon file"></i>
                    </td>
                    <td>
                      <span id="due_invoices_mini_number">{{dashboardData.due_invoices_mini.total}}</span>
                      <strong>Total Due:
                        <strong style="font-weight: bold; display: inline;"></strong>
                        Invoices</strong>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <h4 class="ui horizontal divider header">
            Sales vs. Costs
          </h4>

          <div class="column eight wide">
            <h5>PAST 12 MONTHS</h5>
            <c3chart bindto-id="stacked-bar-plot1-chart">
              <chart-column column-color="orange" column-id="variable" column-name="Variable" column-type="bar" column-values="30,200,100,400,150,250, 30,200,100,400,150,250, 250"/>

              <chart-column column-color="green" column-id="fixed" column-name="Fixed" column-type="bar" column-values="30,200,100,400,150,250, 30,200,100,400,150,250, 250"/>

              <chart-column column-color="red" column-id="receipts" column-name="Receipts" column-type="bar" column-values="30,200,100,400,150,250, 30,200,100,400,150,250, 250"/>

              <chart-column column-color="yellow" column-id="sales" column-name="Sales" column-type="bar" column-values="30,200,100,400,150,250, 30,200,100,400,150,250, 250"/>

              <chart-group group-values="Variable,Fixed,Receipts,Sales"/>
            </c3chart>
          </div>

          <div class="column eight wide">
            <h5>THIS MONTH</h5>
            <c3chart bindto-id="stacked-bar-plot1-chart2">
              <chart-column column-color="orange" column-id="variable" column-name="Variable" column-type="bar" column-values="30"/>

              <chart-column column-color="green" column-id="fixed" column-name="Fixed" column-type="bar" column-values="30"/>

              <chart-column column-color="red" column-id="receipts" column-name="Receipts" column-type="bar" column-values="30"/>

              <chart-column column-color="yellow" column-id="sales" column-name="Sales" column-type="bar" column-values="30"/>

              <chart-group group-values="Variable,Fixed,Receipts,Sales"/>
            </c3chart>
          </div>

          <div class="column eight wide">
            <h4 class="ui horizontal divider header">
              Accounts Payable
            </h4>
            <td valign="middle" width="50%">
              <div>
                <span class="receivable">
                  <div id="accounts_payable_number" style="display: inline;">0 GBP</div>
                  <strong id="ap_currency"></strong>
                </span>
              </div>

              <div class="overdue_list">
                <div>

                  <span>
                    <a class="ui blue circular label" id="ap_days0">0</a>
                    <div id="ap_percent0" style="display: inline;">0</div>% non overdue</span>
                </div>
                <div>

                  <span>
                    <a class="ui yellow circular label" id="ap_days1">0</a>
                    <div id="ap_percent1" style="display: inline;">0</div>% overdue &lt; 10 days</span>
                </div>
                <div>

                  <span>
                    <a class="ui orange circular label" id="ap_days2">0</a>
                    <div id="ap_percent2" style="display: inline;">0</div>% overdue 10 - 60 days</span>
                </div>
                <div>

                  <span>
                    <a class="ui red circular label" id="ap_days3">0</a>
                    <div id="ap_percent3" style="display: inline;">0</div>% overdue 60+ days</span>
                </div>
              </div>

            </td>
          </div>

          <div class="column eight wide">
            <h4 class="ui horizontal divider header">
              Accounts Receivable
            </h4>
            <td valign="middle" width="50%">
              <div>
                <span class="receivable">
                  <div id="accounts_receivable_number" style="display: inline;">361 GBP</div>
                  <strong id="ar_currency"></strong>
                </span>
              </div>

              <div class="overdue_list">
                <div>

                  <span>
                    <a class="ui blue circular label" id="ar_days0">1</a>
                    <div id="ar_percent0" style="display: inline;">100</div>% non overdue</span>
                </div>
                <div>

                  <span>
                    <a class="ui yellow circular label" id="ar_days1">0</a>
                    <div id="ar_percent1" style="display: inline;">0</div>% overdue &lt; 10 days</span>
                </div>
                <div>

                  <span>
                    <a class="ui orange circular label" id="ar_days2">0</a>
                    <div id="ar_percent2" style="display: inline;">0</div>% overdue 10 - 60 days</span>
                </div>
                <div>

                  <span>
                    <a class="ui red circular label" id="ar_days3">0</a>
                    <div id="ar_percent3" style="display: inline;">0</div>% overdue 60+ days</span>
                </div>
              </div>

            </td>
          </div>

          <div class="column sixteen wide">
            <h1>Cashflow</h1>
          </div>

          <div class="column sixteen wide">
            <h1>Turnover</h1>
          </div>
        </div>
      </div>
    </div>
