<div class="object-tabe-heading">

    <div class="ui grid stackable">
        <div class="column eight wide">
            <h2>Supplier Invoices</h2>
        </div>
        <div class="column eight wide">
            <div class="ui action input pull-right left icon">
                <i class="icon search"></i>

                <input type="text" placeholder="Search Invoices..." ng-model="search.supplier.company_name">

                <div class="ui floating dropdown labeled icon button" sui-dropdown>
                    <i class="filter icon"></i>
                    <span class="text">Filter Invoices</span>
                    <div class="menu">
                        <div class="item" ng-click="search = {}">
                            <div class="ui empty circular black label"></div>
                            Show All
                        </div>
                        <div class="header">
                          <i class="tags icon"></i>
                          Invoice Status
                        </div>
                        <div class="scrolling menu">
                            <div class="item" ng-click="search.paid = '0000-00-00'">
                                <div class="ui empty circular label red"></div>
                                Unpaid
                            </div>
                            <div class="item" ng-click="search.paid = '!0000-00-00'">
                                <div class="ui empty circular label green"></div>
                                Paid
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<table class="ui table celled object-table">
    <thead>
		<tr>
			<th width="1"></th>
			<th>Supplier</th>
			<th>Status</th>
			<th class="right">Sum</th>
			<th>Invoice Date</th>
            <th>Due Date</th>
		</tr>
	</thead>
    <tbody>
        <tr ng-repeat="si in filtered() | filter: search | orderBy: orderByKey : orderByReverse">
            <td>
                <input type="checkbox">
            </td>
            <td ui-sref="supplier_invoices.item({id: si.id, supplierInvoice: si})">
                {{si.supplier.company_name}}
            </td>
            <td ui-sref="supplier_invoices.item({id: si.id, supplierInvoice: si})">
                <span ng-if="si.paid != '0000-00-00'" class="ui green basic label">
                    <i class="icon check"></i>
                    Paid
                </span>
                <span ng-if="si.paid == '0000-00-00'" class="ui red basic label">
                    <i class="icon remove"></i>
                    Unpaid
                </span>
            </td>
            <td class="right" ui-sref="supplier_invoices.item({id: si.id, supplierInvoice: si})">
                {{si.sum | number:2}}
                {{si.currency}}
            </td>
            <td ui-sref="supplier_invoices.item({id: si.id, supplierInvoice: si})">
                {{si.date}}
            </td>
            <td ui-sref="supplier_invoices.item({id: si.id, supplierInvoice: si})">
                {{si.duedate}}
            </td>
        </tr>
    </tbody>

</table>
