<div class="split-table clearfix ng-scope">
  <div class="mobile-back-button">
      <button type="button" ng-click="window.history.back()" class="ui button icon labeled">
          <i class="icon angle left"></i>
          Back
      </button>
  </div>
  <div class="list">

    <div class="list-toolbar">
      <a class="ui button labeled icon green" ui-sref="{{newitemstate}}">
        <i class="icon plus"></i>
        Add new
      </a>
    </div>
    <ul>
      <li ng-repeat="item in data track by $index" ui-sref="{{singleitemstate}}">
        <div class="clearfix">
          <i>{{item.id}}</i>
          <strong>{{item[p1]}}</strong>
        </div>
        <div class="sec clearfix">
          <span class="ng-binding">
              {{item[p2]}}
              {{item[p3]}}
          </span>
        </div>
      </li>
    </ul>
  </div>
</div>
