<div class="open-view">

  <div class="open-view-content">
    <form class="ui form" ng-submit="saveInvoice()">
      <div class="toolbar">

        <button class="ui dropdown button icon labeled positive">
          <i class="check icon"></i>
          Save and create
        </button>
        <div class="ui button" onclick="cancel()">Cancel</div>
      </div>
      <div class="ui grid stackable">
          <div class="column four wide">
              <label>Customer Name</label>
          </div>
          <div class="column six wide">
              <input ng-model="contact" type="text" typeahead-on-select="contactOnSelect($item, $model, $label)" uib-typeahead="item as item.name for item in contacts | filter:{name:$viewValue}" placeholder="Search customer">
          </div>
          <div class="column six wide"></div>
      </div>
      <div class="ui grid stackable" ng-show="contactSelected">
          <div class="column four wide">
              <label>Billing Address</label>
              <a href="javascript:;" ng-click="billingAddressEdit = true;">Edit <i class="icon pencil"></i></a>
          </div>
          <div class="column six wide">
              {{billing_address.route}} {{billing_address.street_number}}
              <br>
              {{billing_address.postal_code}} {{billing_address.locality}}
              <br>
              {{billing_address.country}}
          </div>
          <div class="column six wide"></div>
      </div>
      <div class="ui grid stackable" ng-show="billingAddressEdit">
          <div class="column four wide">
              <button type="button" ng-click="billingAddressEdit = false" class="ui button positive labeled icon">
                  <i class="icon check"></i>
                  Save
              </button>
          </div>
          <div class="column twelve wide">
              <cirons-address-selector
                address="billing_address"
              />
          </div>
      </div>
      <div class="ui grid stackable" ng-show="contactSelected">
          <div class="column four wide">
              <label>Shipping Address</label>
              <a href="javascript:;" ng-click="shippingAddressEdit = true;">Edit <i class="icon pencil"></i></a>
          </div>
          <div class="column six wide">
              {{shipping_address.route}} {{shipping_address.street_number}}
              <br>
              {{shipping_address.postal_code}} {{shipping_address.locality}}
              <br>
              {{shipping_address.country}}
          </div>
          <div class="column six wide"></div>
      </div>
      <div class="ui grid stackable" ng-show="shippingAddressEdit">
          <div class="column four wide">
              <button type="button" ng-click="shippingAddressEdit = false" class="ui button positive labeled icon">
                  <i class="icon check"></i>
                  Save
              </button>
          </div>
          <div class="column twelve wide">
              <cirons-address-selector
                address="shipping_address"
              />
          </div>
      </div>

      <div class="ui grid stackable" ng-show="contactSelected">
          <div class="column four wide">
              <label>VAT Number</label>
          </div>
          <div class="column six wide">
              <input type="text" name="invoice.vat_no">
          </div>
          <div class="column six wide"></div>
      </div>

      <div class="ui grid stackable">
          <div class="column four wide">
              <label>Currency</label>
          </div>
          <div class="column six wide">
              <select ng-model="invoice.currency">
                  <option ng-repeat="currency in settings.currencies" value="{{currency.ISO}}">{{currency.ISO}}</option>
              </select>
          </div>
          <div class="column six wide"></div>
      </div>
      <div class="ui grid stackable" ng-show="settings.options.use_level_prices">
          <div class="column four wide">
              <label>Price List</label>
          </div>
          <div class="column six wide">
              <select ng-model="invoice.price_list_id">
                  <option ng-repeat="pricelist in settings.price_lists" value="{{pricelist.id}}">{{pricelist.name}}</option>
              </select>
          </div>
          <div class="column six wide"></div>
      </div>

      <div class="ui grid stackable" >
          <div class="column four wide">
              <label>Invoice Date</label>
          </div>
          <div class="column six wide">
              <input type="date" ng-model="invoice.date">
          </div>
          <div class="column six wide"></div>
      </div>

      <div class="ui grid stackable" ng-show="settings.options.use_level_prices">
          <div class="column four wide">
              <label>Due days</label>
          </div>
          <div class="column six wide">
              <input type="number" ng-model="invoice.duedays">
          </div>
          <div class="column six wide"></div>
      </div>

      <h4 class="ui horizontal divider header">
      	<i class="tag icon"></i>
      	Invoice Description
      </h4>

      <table class="ui table celled compact">
          <thead>
              <tr>
                  <th>Product</th>
                  <th>Invoiceed</th>
                  <th>Shipped</th>
                  <th>Unit</th>
                  <th>VAT</th>
                  <th>Unit Price</th>
                  <th>Row Total</th>
              </tr>
          </thead>
          <tbody>
              <tr ng-repeat="row in invoice.order_rows">
                  <td>{{row.product.name}}</td>
                  <td>
                      <input ng-blur="updateRow(row)" type="text" ng-model="row.ordered">
                  </td>
                  <td>
                      <input ng-blur="updateRow(row)" type="text" ng-model="row.q">
                  </td>
                  <td>
                      <select ng-change="updateRow(row)" ng-model="row.q_type">
      					<option value="0">units</option>
      					<option value="1">litre</option>
      					<option value="2">hour</option>
      					<option value="3">tonne</option>
      					<option value="4">mm</option>
      					<option value="5">kwh</option>
      					<option value="6">m²</option>
      					<option value="7">metre</option>
      					<option value="8">month</option>
      					<option value="9">km</option>
      					<option value="10">m³</option>
      					<option value="11">kg</option>
      					<option value="12">day</option>
      					<option value="13">gram</option>
      				</select>
                  </td>
                  <td>
                      <select ng-change="updateRow(row)" ng-model="row.vat_id">
      					<option ng-repeat="rule in settings.vat_rules" value="{{rule.id}}">{{rule.percent}}%</option>
      				</select>
                  </td>
                  <td>
                      <input ng-blur="updateRow(row)" type="text" ng-model="row.price">
                  </td>
                  <td>
                      {{row.price * row.q | number : 2}}
                  </td>
              </tr>
              <tr>
                  <th colspan="7">
                      Add new row
                  </th>
              </tr>
              <tr>
                  <td>
                      <input ng-model="newrow.product" type="text" uib-typeahead="item as item.name for item in products | filter:{name:$viewValue}">
                  </td>
                  <td>
                      <input type="text" ng-model="newrow.ordered">
                  </td>
                  <td>
                      <input type="text" ng-model="newrow.q">
                  </td>
                  <td>
                      <select ng-model="newrow.q_type">
      					<option value="0">units</option>
      					<option value="1">litre</option>
      					<option value="2">hour</option>
      					<option value="3">tonne</option>
      					<option value="4">mm</option>
      					<option value="5">kwh</option>
      					<option value="6">m²</option>
      					<option value="7">metre</option>
      					<option value="8">month</option>
      					<option value="9">km</option>
      					<option value="10">m³</option>
      					<option value="11">kg</option>
      					<option value="12">day</option>
      					<option value="13">gram</option>
      				</select>
                  </td>
                  <td>
                      <select ng-model="newrow.vat_id">
      					<option ng-repeat="rule in settings.vat_rules" value="{{rule.id}}">{{rule.percent}}% ({{rule.name}})</option>
      				</select>
                  </td>
                  <td>
                      <input type="text" ng-model="newrow.price">
                  </td>
                  <td>
                      <button type="button" ng-click="addOrderRow()" class="ui button positive tiny">Add</button>
                  </td>
              </tr>
          </tbody>
          <tfoot>
              <tr>
                  <th colspan="5">
                  </th>
                  <th>
                      Sub Total
                  </th>
                  <th>
                      {{subTotal | number: 2}}
                  </th>
              </tr>
              <tr>
                  <th colspan="5">
                  </th>
                  <th>
                      Total VAT
                  </th>
                  <th>
                      {{totalVAT | number: 2}}
                  </th>
              </tr>
              <tr>
                  <th colspan="5">
                  </th>
                  <th>
                      Grand Total
                  </th>
                  <th>
                      {{grandTotal | number: 2}}
                  </th>
              </tr>
          </tfoot>
      </table>

  </div>
</div>
