html,
body {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0;
  margin: 0;
  background: #3681b1;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif; }

aside.menu.blue nav#main {
  height: 100%; }

aside.menu.blue nav#main ul {
  background: #3681b1;
  height: 100%;
  padding-top: 10px; }

aside.menu nav#main ul {
  overflow: auto; }

aside.menu.blue > nav#main ul li a {
  color: rgba(255, 255, 255, 0.8);
  background: rgba(255, 255, 255, 0.1);
  margin-bottom: 3px; }

aside.menu {
  width: 260px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0; }

.body {
  width: auto;
  margin-left: 260px;
  position: relative;
  height: 100%; }

.body header,
aside.menu header {
  height: 50px;
  background: white;
  -webkit-box-shadow: 0 3px 5px 0 rgba(50, 50, 50, 0.1);
  -moz-box-shadow: 0 3px 5px 0 rgba(50, 50, 50, 0.1);
  box-shadow: 0 3px 5px 0 rgba(50, 50, 50, 0.1); }

aside.menu header {
  border-right: 1px solid #eee; }

.body header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0; }

section#toolbar {
  height: 50px;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 50px;
  margin-top: 50px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0; }

section#toolbar .pull-right {
  margin-top: 10px; }

section.content {
  height: 100%;
  width: 100%;
  padding-top: 70px; }

section.content.has-sidebar.hide-sidebar {
  padding-right: 0; }

section.content > .inner {
  background: white;
  height: 100%;
  width: 100%;
  -webkit-box-shadow: 0 0 10px 0 rgba(50, 50, 50, 0.4);
  -moz-box-shadow: 0 0 10px 0 rgba(50, 50, 50, 0.4);
  box-shadow: 0 0 10px 0 rgba(50, 50, 50, 0.4);
  overflow: auto; }

aside.sidebar {
  background: #eee;
  z-index: 999;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 300px;
  padding-top: 30px;
  -webkit-box-shadow: 0 0 10px 0 rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0 0 10px 0 rgba(50, 50, 50, 0.75);
  box-shadow: 0 0 10px 0 rgba(50, 50, 50, 0.75);
  border-left: 3px solid white; }
  aside.sidebar h3 {
    font-size: 18px;
    margin: 0 0 15px;
    display: block;
    text-align: center; }
  aside.sidebar #gauge_order_vs_last_month table {
    margin: auto; }

.sidebar-toggle {
  left: -38px;
  width: 35px;
  text-align: center;
  line-height: 30px;
  position: absolute;
  height: 30px;
  background: #3681b1;
  color: #999999; }

.sidebar-toggle > i {
  -ms-transform-origin: 50% 50%;
  /* IE 9 */
  -webkit-transform-origin: 50% 50%;
  /* Chrome, Safari, Opera */
  transform-origin: 50% 50%;
  color: white; }

.has-sidebar .sidebar-toggle {
  display: block;
  text-decoration: none !important; }

section.content.has-sidebar aside.sidebar {
  -webkit-transition: right 0.6s;
  -moz-transition: right 0.6s;
  -ms-transition: right 0.6s;
  -o-transition: right 0.6s;
  transition: right 0.6s;
  display: block; }

section.content.hide-sidebar aside.sidebar {
  right: -297px; }

aside.sidebar > .inner {
  padding: 0 30px;
  background: none !important;
  position: relative; }

aside.menu > nav#main {
  padding-top: 20px; }

aside.menu > nav#main ul,
aside.menu > nav#main ul li {
  padding: 0;
  margin: 0;
  position: relative; }

aside.menu > nav#main ul li a {
  text-decoration: none !important; }

aside.menu > nav#main ul li.nav-parent:after {
  position: absolute;
  font-family: FontAwesome;
  content: "\f107";
  color: white;
  right: 15px;
  top: 10px;
  font-size: 16px;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease; }

aside.menu > nav#main ul li.nav-parent.nav-expanded:after {
  transform: rotate(180deg); }

aside.menu > nav#main ul li.nav-parent > ul {
  overflow: hidden;
  max-height: 0;
  height: auto;
  padding: 0;
  background: rgba(0, 0, 0, 0.7);
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease; }

aside.menu > nav#main ul li.nav-parent.nav-expanded > ul {
  max-height: 1000px; }

aside.menu > nav#main ul li.nav-parent > ul > li > a {
  font-size: 14px;
  padding-left: 40px; }

aside.menu > nav#main ul li.nav-parent > ul > li > a > i {
  font-size: 14px; }

aside.menu > nav#main ul li a {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  color: #4a5959;
  height: 40px;
  padding: 0;
  line-height: 38px;
  background: rgba(0, 0, 0, 0.04);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: background 500ms ease;
  -moz-transition: background 500ms ease;
  -ms-transition: background 500ms ease;
  -o-transition: background 500ms ease;
  transition: background 500ms ease; }

aside.menu > nav#main ul li a span {
  margin-left: 10px; }

aside.menu > nav#main ul li a i {
  font-size: 20px;
  background: rgba(0, 0, 0, 0.1);
  width: 40px;
  display: inline-block;
  text-align: center;
  height: 40px;
  line-height: 40px; }

aside.menu > nav#main ul li a:hover {
  background: rgba(255, 255, 255, 0.2);
  text-decoration: none; }

.page-content {
  padding: 30px; }

header .page-title {
  float: left; }

header .page-title h1 {
  font-size: 18px;
  height: 50px;
  line-height: 50px;
  text-transform: uppercase;
  padding-left: 30px;
  margin-bottom: 0;
  margin-top: 0; }

aside.menu header a.logo {
  height: 50px;
  padding: 0 20px;
  display: block;
  line-height: 50px; }

aside.menu header a.logo img {
  max-width: 180px;
  width: 100%;
  height: auto;
  margin-top: 9px; }

.status-bar {
  position: absolute;
  right: 261px;
  top: 0;
  float: right;
  height: 50px;
  z-index: 9; }

.status-bar button {
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.3);
  background: none;
  border: none;
  border-left: 1px solid #ccc;
  outline: none; }

.status-bar > div {
  height: 50px;
  width: 50px;
  display: inline-block; }

#normal.active,
#reminder.active {
  color: #3681b1; }

.status-bar > div > button.active i.fa {
  -webkit-animation-name: shakeme;
  -webkit-animation-duration: 500ms;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-delay: 1s; }

@-webkit-keyframes shakeme {
  0% {
    transform: translate(0px, 0px); }
  10% {
    -webkit-transform: translate(-1px, 0px); }
  20% {
    -webkit-transform: translate(-3px, 0px); }
  30% {
    -webkit-transform: translate(0px, 0px); }
  40% {
    -webkit-transform: translate(1px, 0px); }
  50% {
    -webkit-transform: translate(-1px, 0px); }
  60% {
    -webkit-transform: translate(-3px, 0px); }
  70% {
    -webkit-transform: translate(2px, 0px); }
  80% {
    -webkit-transform: translate(-1px, 0px); }
  90% {
    -webkit-transform: translate(2px, 0px); }
  100% {
    -webkit-transform: translate(0px, 0px); } }
#urgent.active {
  color: #DA3F49; }

.user-bar {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  float: right;
  width: 260px;
  height: 50px;
  z-index: 9;
  border-left: 1px solid #eee; }

.user-bar > nav > span {
  line-height: 50px;
  width: 100%;
  height: 50px;
  display: block;
  padding-left: 20px; }

.user-bar > nav > span > img {
  width: 30px;
  height: 30px;
  display: inline;
  line-height: 30px;
  border-radius: 50%;
  margin-right: 15px;
  vertical-align: middle;
  margin-top: -2px; }

.user-bar > nav > span > i.angle.down.icon {
  position: absolute;
  right: 10px;
  top: 20px; }

.user-bar > nav > ul,
.user-bar > nav > ul li {
  padding: 0;
  margin: 0;
  list-style: none; }
  .user-bar > nav > ul i.fa,
  .user-bar > nav > ul li i.fa {
    margin-right: 10px; }

.user-bar > nav > ul {
  height: auto;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
  background: white;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  width: 100%;
  -webkit-box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.2);
  -moz-box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.2);
  box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.2); }

.user-bar:hover > nav > ul {
  max-height: 1000px; }

.user-bar > nav > ul > li > a {
  padding: 13px 15px;
  display: block;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
  border-bottom: 1px solid #eee; }

.user-bar > nav > ul > li > a:hover {
  background: rgba(0, 0, 0, 0.03); }

.user-bar > nav > ul > li:last-child a {
  border-bottom: 0; }

.gridster ul li {
  background: none;
  list-style: none;
  display: block; }

.profile-img img {
  max-width: 100%;
  height: auto;
  width: 100%; }

tr[data-id] {
  background: #e6fdff;
  display: none;
  transition: all 500ms ease; }

tr[data-id].sec,
tr[data-tr].open.sec,
tr[data-url].open.sec {
  background: #d1ffd3; }

tr[data-id].open {
  display: table-row; }

tr[data-tr],
tr[data-url] {
  cursor: pointer;
  transition: all 500ms ease; }

tr[data-tr].open,
tr[data-url].open {
  background: #bdeeff; }

tr[data-tr].delete,
tr[data-url].delete {
  background: #FFBDBD; }

.ui.form select {
  height: 38px;
  max-height: 38px; }

.ui.form input[type="date"] {
  max-height: 38px; }

.multiple_vat_rows .input {
  margin-bottom: 6px; }

.multiple_vat_rows .input .ui.label {
  width: 80px;
  text-align: center; }

.vatsum {
  font-size: 22px;
  font-weight: 100;
  text-align: center; }

.employee_cost_chart_box {
  height: 100px;
  max-height: 100px;
  padding: 20px; }

.employee_cost_chart_box span {
  font-size: 16px;
  color: black;
  display: block;
  text-align: center;
  padding-bottom: 10px; }

.employee_cost_chart_box strong {
  font-size: 26px;
  font-weight: 100;
  display: block;
  text-align: center; }

/* columns of same height styles */
.row-full-height {
  height: 100%; }

.col-full-height {
  height: 100%;
  vertical-align: middle; }

.row-same-height {
  display: table;
  width: 100%;
  /* fix overflow */
  table-layout: fixed; }

.col-xs-height {
  display: table-cell;
  float: none !important; }

/* vertical alignment styles */
.col-top {
  vertical-align: top; }

.col-middle {
  vertical-align: middle; }

.col-bottom {
  vertical-align: bottom; }

.segment.widget iframe {
  background: white;
  border: 0;
  max-height: 100%; }

.gridedit {
  position: relative; }

.ui.widget.segment {
  padding: 0;
  border-radius: 0;
  border: none; }

.gridedit:before {
  content: "";
  position: absolute;
  width: 100%;
  background: rgba(255, 255, 255, 0.7);
  z-index: 99;
  cursor: move;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

li[data-row] .segment,
li[data-row] .segment iframe {
  height: 100% !important;
  width: 100% !important; }

div#ui-datepicker-div.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all {
  z-index: 9999 !important; }

iframe.qe {
  border: none;
  border-radius: 0;
  width: 100%;
  min-height: 50px; }

table tr.add {
  background: #3681b1;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  cursor: pointer; }

table tr.add.open {
  color: #535353;
  text-shadow: none; }

.ui.table td.positive,
.ui.table tr.positive td {
  background: #E7F9FF !important; }

.ui.table tfoot th,
.ui.table thead th,
.ui.table tbody th {
  cursor: auto;
  background: #eeeeee;
  text-align: left;
  color: rgba(0, 0, 0, 0.8);
  padding: 0.7em 0.8em;
  vertical-align: middle;
  font-style: none;
  font-weight: 700;
  text-transform: none;
  border-bottom: 1px solid #d4d4d5;
  border-left: none; }

form label {
  display: block;
  font-size: 14px; }

form select {
  display: block;
  width: 100%;
  max-width: 100%; }

.checkin-timer {
  padding: 30px; }

.checkin-timer div.clock {
  height: 60px;
  text-align: center;
  font-size: 24px;
  font-weight: 100;
  color: #49c6a8;
  border-radius: 5px;
  line-height: 60px;
  border: 1px solid #49c6a8;
  margin-bottom: 20px; }

.widget > span:first-child {
  cursor: auto;
  background: #fff;
  text-align: left;
  color: rgba(0, 0, 0, 0.8);
  padding: 0 0.8em;
  height: 35px;
  line-height: 35px;
  vertical-align: middle;
  font-style: none;
  font-weight: 700;
  text-transform: none;
  border-bottom: 1px solid #d4d4d5;
  font-size: 1em;
  display: block; }

.filter_dropdown {
  display: none;
  position: absolute;
  top: 50px;
  z-index: 999;
  left: 0;
  width: 200px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 3px; }

.filter_dropdown ul {
  padding: 0;
  margin: 0; }

.filter_dropdown ul li {
  display: block;
  border-bottom: 1px solid #ccc;
  font-size: 12px;
  height: 30px;
  padding: 0 8px;
  line-height: 30px; }

.filter_dropdown ul li input {
  margin-right: 10px; }

.filter_calendar_holder {
  position: relative;
  display: inline-block; }

.tabs a {
  background-color: transparent;
  font-weight: 400;
  margin: 0 0 -3px;
  text-decoration: none !important;
  border-radius: 0;
  -webkit-transition: all 0.2s ease;
  transition: color 0.2s ease;
  padding: 0.6em 0.95em;
  border-bottom: 3px solid transparent;
  position: relative;
  display: inline-block;
  color: rgba(0, 0, 0, 0.6); }

.tabs a:hover {
  color: rgba(0, 0, 0, 0.8); }

.tabs a.active {
  border-color: rgba(0, 0, 0, 0.4);
  box-shadow: none;
  color: rgba(0, 0, 0, 0.8); }

.tabs {
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 10px; }

.tab-content div[data-tab] {
  display: none; }

.tab-content div[data-tab].active {
  display: block; }

#speech {
  border: none;
  background: none;
  float: left;
  display: block;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.3);
  border-right: 1px solid #ccc; }

#speech.active {
  background: #eee; }

section#toolbar form {
  display: inline-block !important;
  margin: 0;
  padding: 0; }

.td-edit {
  background: #eee;
  border-bottom: 1px solid #ccc;
  padding: 1px 3px;
  display: block;
  font-size: 12px;
  border-radius: 3px;
  cursor: text; }

.td-edit:hover {
  background: #ECFFFF; }

.filter_links {
  padding: 0 10px; }

td.price input {
  width: 77px !important;
  float: left; }

td.price div.ui.attached.right.button {
  float: left;
  padding: 8px !important; }

section.content > .inner {
  background-color: #eee; }

.content > .inner .ui.widget.segment {
  box-shadow: none;
  border-radius: 0;
  overflow: hidden; }

.modelselect {
  display: inline-block;
  position: relative; }

.modelselect button.model-select-button {
  background: #3681b1;
  color: white;
  display: inline-block;
  padding: 0 0.75em;
  text-align: left;
  border-radius: 0 0.2857rem 0.2857rem 0;
  font-weight: 700;
  line-height: 1;
  font-style: normal;
  cursor: pointer;
  min-height: 1em;
  outline: 0;
  border: none;
  vertical-align: baseline;
  position: absolute;
  right: 0;
  left: 0;
  top: 0; }

.widget > span:first-child {
  position: absolute;
  top: -35px;
  width: 100%;
  display: none; }

.gridster ul li {
  overflow: visible; }

.content > .inner .ui.widget.segment {
  overflow: visible; }

.content > .inner .ui.widget.segment iframe {
  overflow: hidden; }

.gridster ul {
  padding: 0 !important;
  margin: 0 !important; }

.tooltipster-shadow {
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.3);
  color: #2c2c2c; }

.tooltipster-shadow .tooltipster-content {
  font-size: 14px;
  line-height: 16px;
  padding: 8px 10px; }

/* http://cssarrowplease.com/ */
.arrow_box {
  position: relative;
  background: #eeeeee;
  margin-top: 15px;
  padding: 10px;
  border-radius: 3px; }

.arrow_box:after {
  bottom: 100%;
  left: 18px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(238, 238, 238, 0);
  border-bottom-color: #eeeeee;
  border-width: 8px;
  margin-left: -8px; }

.arrow_box.inline {
  display: inline-block; }

td.checkbox.checked {
  background: #ACEAA4; }

ul.notification-list {
  display: block;
  width: auto; }

ul.notification-list,
ul.notification-list li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: block; }

ul.notification-list li div.active {
  background: #E3E9EA; }

ul.notification-list li > div {
  display: block;
  padding: 12px;
  width: 300px;
  border-bottom: 1px solid #ccc;
  transition: all 500ms ease;
  cursor: pointer; }

ul.notification-list li:last-child > div {
  border: none; }

ul.notification-list li > div:hover {
  background: #eee; }

ul.notification-list li div span {
  font-size: 12px;
  line-height: 14px; }

ul.notification-list li div .notification-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: no-repeat center center;
  background-size: cover;
  float: left; }

ul.notification-list li div .notification-text {
  width: 236px;
  float: right; }

.ui.popup.notification-popup {
  padding: 0 !important; }

.no-notifications {
  padding: 15px;
  width: 300px;
  font-size: 14px;
  color: black; }

.notification-row-urgent {
  background: #FFE6E6; }

.notification-row-reminder {
  background: #EBFFFF; }

body.dashboard section.content .inner {
  background: #dde7ed; }

body.dashboard section.content .inner .page-content {
  padding: 0; }

body.dashboard .dashboard-tabs {
  height: 60px;
  background-color: white;
  border-bottom: 1px solid #ccc; }

body.dashboard .dashboard-tabs ul,
body.dashboard .dashboard-tabs ul li {
  padding: 0;
  margin: 0;
  list-style: none; }

body.dashboard .dashboard-tabs ul li {
  display: inline; }

body.dashboard .dashboard-tabs nav {
  padding: 0 30px; }

body.dashboard .dashboard-tabs ul li a {
  display: inline-block;
  text-decoration: none;
  color: #4e4e4e;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  height: 60px;
  line-height: 60px;
  padding: 0 20px; }

body.dashboard .dashboard-tabs ul li a span {
  display: inline-block;
  border-bottom: 4px solid transparent;
  height: 57px;
  line-height: 57px;
  transition: all 300ms ease; }

body.dashboard .dashboard-tabs ul li a.active span {
  border-bottom: 4px solid #3681b1; }

body.dashboard .dashboard-tabs ul li a:hover span {
  border-bottom: 4px solid #ccc; }

body.dashboard .dashboard-tabs {
  position: relative; }
  body.dashboard .dashboard-tabs div.tabbar-chart {
    position: absolute;
    width: auto;
    right: 0;
    top: 0; }
    body.dashboard .dashboard-tabs div.tabbar-chart ul {
      margin: 0;
      padding: 0;
      height: 60px;
      padding-right: 10px; }
      body.dashboard .dashboard-tabs div.tabbar-chart ul li {
        border: none;
        display: inline-block;
        margin: 0;
        padding: 10px;
        border-right: 1px solid #ccc;
        text-align: right; }
        body.dashboard .dashboard-tabs div.tabbar-chart ul li span {
          display: block;
          margin: 0;
          font-size: 12px;
          font-weight: 400;
          color: rgba(0, 0, 0, 0.8); }
        body.dashboard .dashboard-tabs div.tabbar-chart ul li strong {
          color: #3681b1;
          font-weight: 400;
          display: block;
          margin: 0; }
      body.dashboard .dashboard-tabs div.tabbar-chart ul li:last-child {
        border: none; }

body.dashboard .dashboard-content {
  padding: 30px 50px; }

.widget {
  background: none;
  margin: 0;
  padding: 0;
  border: none;
  box-shadow: none;
  border-radius: 0; }

.widget-table {
  width: 100%;
  border: none; }

.widget-table td {
  padding: 14px;
  background-color: white;
  color: #4e4e4e;
  font-size: 14px; }

.widget-table td.place {
  background-color: #3681b1;
  width: 40px;
  color: white;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  padding: 0;
  font-size: 18px; }

.widget-table td.arrow {
  width: 40px;
  cursor: pointer;
  background-color: #d7d7d7;
  color: #9c9c9c;
  font-size: 24px;
  padding: 0;
  text-align: center;
  vertical-align: middle; }

.widget-table td.arrow i.icon {
  margin: 0;
  transition: all 500ms ease; }

.widget-table tr.active td.arrow i.icon {
  transform: rotate(180deg); }

.widget-table td.stat {
  padding: 0 10px;
  text-align: center;
  vertical-align: middle; }

.widget-table td.stat span {
  font-size: 10px;
  display: block;
  text-transform: uppercase;
  color: #828282;
  max-width: 100%;
  margin-bottom: 0;
  text-align: left; }

.widget-table td.stat strong {
  display: block;
  font-size: 14px;
  color: #4e4e4e;
  max-width: 100%;
  font-weight: 300;
  text-align: left; }

.widget-table td.blue1 {
  background-color: #d9e9f4; }

.widget-table td.blue2 {
  background-color: #e1f4ff; }

.widget-table td.blue3 {
  background-color: #b5d3e9; }

.widget-table td.blue4 {
  background-color: #a4c7e0; }

.widget-table td.blue5 {
  background-color: #8db8d6; }

.widget-table tr[data-toggle] {
  display: none;
  padding: 0; }

.widget-table tr[data-toggle].active {
  display: table-row; }

.widget-table tr[data-id] td,
.widget-table tr[data-toggle].active > td {
  border-bottom: 2px solid #aed0e4; }

.widget-table tr[data-id].active td {
  border: none; }

.widget-table tr[data-toggle] > td {
  padding: 0; }

.widget-table tr[data-toggle] > td > table td {
  height: 40px; }

.widget-table tr[data-toggle] > td > table {
  width: 100%; }

.widget-table tr[data-id] {
  display: table-row;
  background: white; }

.widget-table tr[data-toggle].active {
  display: table-row; }

.widget-table tr[data-id].active + .widget-table tr[data-toggle] {
  display: table-row; }

.widget-table tr[data-toggle] > td > table td.notification {
  width: 40px;
  height: 40px;
  padding: 0;
  vertical-align: middle;
  text-align: center;
  font-size: 24px; }

.widget-table tr[data-toggle] > td > table td.notification.warning {
  background: #eaeb88;
  color: rgba(0, 0, 0, 0.3); }

.cashflow-table {
  background: none !important;
  border: none !important; }

.cashflow-table th {
  text-transform: uppercase;
  font-size: 14px; }

.cashflow-table td {
  font-size: 14px;
  background: white; }

.cashflow-table .chart_col {
  border: none !important;
  background: none !important; }

.widget {
  margin-bottom: 20px; }

.ui.card.invoice-card {
  max-width: 100%;
  width: 100%; }

table.card-compact-table {
  width: 100%;
  border-collapse: collapse; }

table.card-compact-table td,
table.card-compact-table th {
  font-size: 11px;
  padding: 3px;
  border: 1px solid #eee; }

table.card-compact-table th,
table.card-compact-table td {
  text-align: left; }

table.card-compact-table th {
  background: #eee; }

table.card-compact-table .right-aligned {
  text-align: right !important; }

table.card-compact-table tfoot td {
  border-top: 2px solid #ccc; }

ul.rules_sortable {
  padding: 0;
  margin: 0; }

ul.rules_sortable li {
  list-style: none;
  background: white;
  border: 1px solid #ccc;
  padding: 7px;
  border-bottom: none; }

ul.rules_sortable li:last-child {
  border-bottom: 1px solid #ccc; }

.pipeline > div > ul {
  padding: 0;
  margin: 0;
  min-height: 50px; }

.pipeline > div > ul > li {
  margin: 0;
  border-radius: 3px;
  padding: 10px 5px;
  list-style: none;
  background: #eee;
  display: block;
  margin-bottom: 5px;
  cursor: move; }

tr.add td {
  border-bottom: 5px solid #1B5E8A !important;
  padding-bottom: 5px !important; }

.pipeline .ui-state-highlight {
  margin: 0;
  border-radius: 3px;
  padding: 10px 5px;
  list-style: none;
  background: #7589A7;
  display: block;
  margin-bottom: 5px; }

tr.month-seperator {
  background: #e6e6e6; }

table.ui.table.celled {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  border-radius: 0; }

table.ui.table.celled td {
  border-right: 0;
  border-left: 0; }

.ui.fluid.input .model_selector input {
  width: 100%;
  max-width: 100%; }

.ts-table input {
  padding: 10px;
  font-size: 14px;
  border-radius: 3px;
  border: 1px solid #ccc; }

.ts-table .ts-pagination ul,
.ts-table .ts-pagination ul li {
  list-style: none;
  margin: 0;
  padding: 0; }

.ts-table .ts-pagination ul li {
  display: inline; }

.ts-table .ts-pagination ul li a {
  padding: 8px;
  border-radius: 3px;
  background: #eee;
  font-size: 14px;
  margin-right: 5px; }

.ts-table .ts-pagination ul li a:hover {
  background: #ccc; }

.ts-table .ts-pagination ul li a.ts-page-active {
  background: #3681b1;
  color: white; }

.select_modal .ts-table table tr {
  cursor: pointer; }

.section-boxes .right.floated.icon {
  font-size: 2em; }

.section-box-number {
  width: 100%;
  border: none;
  margin: 15px 0 5px; }

.section-box-number h3 {
  font-weight: 300;
  margin-bottom: 0; }

.section-box-number p {
  color: #9CABB2;
  font-size: 16px; }

.section-icon .description {
  height: 60px; }

.section-icon .vmid {
  height: 60px;
  vertical-align: middle;
  display: table-cell;
  width: 100%; }

.section-icon .button-content {
  padding-top: 20px; }

aside.menu > nav#main ul li.endgroup {
  margin-bottom: 15px; }

aside.menu > nav#main ul li.startgroup {
  margin-top: 15px; }

.valierror_inside .popup {
  border: 1px solid red;
  color: red; }

body > #progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999; }
  body > #progress .load {
    display: none;
    transition: all 200ms ease;
    background: #4191c5;
    height: 3px;
    width: 10px;
    -webkit-box-shadow: 0 0 3px 0 #4191c5;
    -moz-box-shadow: 0 0 3px 0 #4191c5;
    box-shadow: 0 0 3px 0 #4191c5; }
  body > #progress .load.hide {
    opacity: 0;
    transition: opacity 1.3s; }

.add_payment_to_invoice {
  text-align: center;
  padding-bottom: 20px; }

table tr td.right,
table tr th.right {
  text-align: right !important; }

.profit-cost {
  width: 100%;
  background: #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px; }
  .profit-cost div {
    text-align: right;
    font-size: 12px;
    padding: 3px;
    color: rgba(255, 255, 255, 0.7);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px; }
  .profit-cost .profit-positive {
    background: #21ba45; }
  .profit-cost .profit-negative {
    background: #db2828; }

.gauge {
  position: relative;
  overflow: hidden; }
  .gauge .pin {
    height: 160px;
    width: 2px;
    background: black;
    transform: rotate(45deg);
    position: absolute;
    z-index: 999;
    right: 50%;
    margin-bottom: 5px;
    bottom: 0;
    transform-origin: 1px 160px; }
  .gauge .pin:before {
    content: "";
    font-size: 12px;
    color: black;
    margin-top: -30px;
    width: 80px;
    top: 5px;
    text-align: center;
    left: -41px;
    position: absolute; }
  .gauge .pin.min:before {
    content: "Minimum"; }
  .gauge .pin.min {
    transform: rotate(-45deg); }

#settings .icon.info.circle {
  color: #3681b1 !important;
  cursor: help; }

.additional_costs {
  padding-bottom: 40px; }
  .additional_costs h3 {
    margin: 0;
    padding: 0;
    line-height: 24px;
    border-bottom: 2px solid #3681b1;
    color: black;
    text-align: right;
    font-size: 24px;
    font-style: italic;
    display: block; }
  .additional_costs .fields.fixed .field:first-child input {
    background: none;
    border: none;
    color: black !important;
    opacity: 1; }
  .additional_costs input {
    text-align: right !important; }

table.info-table {
  width: 100%; }
  table.info-table tr td {
    padding: 10px 15px;
    font-size: 14px; }

.supplier_invoice_upload .upload {
  background: url(/_assets/img/upload.png) no-repeat center center;
  background-size: 300px 300px;
  width: 300px;
  margin: auto;
  height: 300px; }

.supplier_chart {
  padding-bottom: 30px;
  height: 150px; }

.ui.breadcrumb li {
  float: left;
  list-style-type: none;
  margin-right: 10px; }

.ui.breadcrumb a:after {
  font-family: FontAwesome;
  content: "\f054";
  padding-left: 10px;
  color: #eaeaea; }

.loginUnauth {
  width: 500px;
  margin: auto; }

.overwriteBg {
  background-color: #eee !important; }

.logo {
  max-width: 200px;
  margin: auto;
  padding-bottom: 30px; }

.logo img {
  max-width: 100%; }

.timeline {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0; }
  .timeline li {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 40%;
    background: #e1e1e1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
    border-right: 1px solid #ccc; }
  .timeline li.done {
    padding: 0;
    height: 60px;
    background: none;
    margin: 0;
    border: none; }
  .timeline li.done:before {
    display: none; }
  .timeline li:before {
    content: "";
    position: absolute;
    background: #ccc;
    height: 2px;
    width: 25%;
    right: -25%;
    top: 50%; }
  .timeline li:after {
    height: 30px;
    width: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    background: #ccc;
    position: absolute;
    right: -25%;
    margin-right: -18px;
    top: 50%;
    margin-top: -14px;
    content: ""; }
  .timeline li.done:after {
    content: "\f00c";
    font-family: FontAwesome;
    color: white;
    text-align: center;
    line-height: 60px;
    font-size: 30px;
    width: 60px;
    height: 60px;
    background: #ccc;
    margin: 0;
    position: absolute;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    border: none;
    top: 0;
    left: auto;
    margin-right: -31px; }
  .timeline li.right:after {
    left: -25%;
    right: auto;
    margin-right: 0;
    margin-left: -14px; }
  .timeline li.right:before {
    left: -25%;
    right: auto; }
  .timeline li.right {
    margin-left: 60%;
    border-left: 1px solid #ccc;
    border-right: 0; }
  .timeline li.red:before, .timeline li.red:after {
    background-color: #db2828; }
  .timeline li.red {
    border-color: #db2828; }
  .timeline li.green:before, .timeline li.green:after {
    background-color: #21ba45; }
  .timeline li.green {
    border-color: #21ba45; }

.timeline:before {
  width: 2px;
  background: #ccc;
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  content: "";
  bottom: 0; }

.payments .timeline li span {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 400;
  display: block; }
.payments .timeline li strong {
  font-size: 16px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
  display: block; }

.ui.attached.segment.wizard {
  width: 100%;
  height: 200px;
  padding: 0; }
  .ui.attached.segment.wizard .pages {
    width: 100%;
    height: auto;
    position: relative; }
    .ui.attached.segment.wizard .pages .page.active {
      visibility: visible;
      opacity: 1; }
    .ui.attached.segment.wizard .pages .page {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: block;
      height: 200px;
      width: 100%;
      opacity: 0;
      visibility: hidden;
      transition: all 300ms ease; }
      .ui.attached.segment.wizard .pages .page #previews .file-row {
        padding: 8px;
        border-bottom: 1px solid #ccc;
        text-align: left; }
        .ui.attached.segment.wizard .pages .page #previews .file-row .ui.small.progress {
          margin: 0; }
      .ui.attached.segment.wizard .pages .page .selector {
        text-align: left;
        padding: 20px; }
      .ui.attached.segment.wizard .pages .page .field {
        padding: 0 20px;
        text-align: left; }
      .ui.attached.segment.wizard .pages .page table {
        height: 200px;
        width: 100%;
        border: none;
        padding: 0;
        margin: 0;
        border-collapse: collapse; }
        .ui.attached.segment.wizard .pages .page table tr td {
          text-align: center; }
        .ui.attached.segment.wizard .pages .page table tr td:first-child {
          border-right: 1px solid #ccc; }
        .ui.attached.segment.wizard .pages .page table tr td.upload {
          background: url(/_assets/img/upload.png) no-repeat center center;
          background-size: 190px 190px; }
          .ui.attached.segment.wizard .pages .page table tr td.upload table {
            display: none; }
        .ui.attached.segment.wizard .pages .page table tr td.upload.uploaded {
          background: none; }
          .ui.attached.segment.wizard .pages .page table tr td.upload.uploaded table {
            display: block; }

.orderrows .table {
  border-collapse: collapse;
  display: table;
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15); }
  .orderrows .table .th {
    display: table-cell;
    padding: 10px 10px;
    font-weight: 600;
    background: #eee;
    border: 1px solid #ccc; }
  .orderrows .table .td {
    display: table-cell;
    padding: 10px 10px; }
    .orderrows .table .td input, .orderrows .table .td select {
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      border-radius: 3px;
      border: 1px solid transparent;
      background: none;
      padding: 5px;
      width: 100%;
      max-width: 100%;
      height: 30px; }
  .orderrows .table .tr {
    display: table-row; }
  .orderrows .table .tr:hover input, .orderrows .table .tr:hover select, .orderrows .table .add-new .tr .td input, .orderrows .table .add-new .tr .td select {
    border: 1px solid #ccc; }
  .orderrows .table .tr:hover input[disabled], .orderrows .table .tr:hover select[disabled], .orderrows .table .add-new .tr .td input[disabled], .orderrows .table .add-new .tr .td select[disabled] {
    border: 1px solid transparent; }
  .orderrows .table .right {
    text-align: right; }
    .orderrows .table .right input, .orderrows .table .right select {
      text-align: right; }
  .orderrows .table .price_popup {
    padding: 0;
    padding-bottom: 10px;
    width: 170px;
    max-width: 170px; }
    .orderrows .table .price_popup ul {
      padding: 0;
      margin: 0; }
      .orderrows .table .price_popup ul li {
        cursor: pointer;
        background: white;
        padding: 5px 10px;
        margin: 0;
        display: block;
        font-size: 14px;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.8);
        list-style: none; }
      .orderrows .table .price_popup ul li:hover {
        background: #3681b1;
        color: white; }

.small-box {
  border: rgba(0, 0, 0, 0.05) 1px solid;
  height: 70px;
  width: 100%;
  background: none;
  border: none;
  border-bottom: 4px solid transparent;
  font-family: "Lato", 'Helvetica Neue', Helvetica, sans-serif;
  transition: all 300ms ease; }

.small-box.interactive {
  cursor: pointer; }

.small-box.interactive:hover {
  background: rgba(255, 255, 255, 0.5); }

.small-box i.icon {
  font-size: 26px; }

.small-box td span {
  display: inline-block;
  font-size: 22px;
  font-weight: 300;
  color: inherit !important;
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif; }

.small-box td span.suffix {
  margin-left: 10px; }

.small-box td strong {
  font-weight: 400;
  display: block;
  margin-top: 0px;
  color: inherit !important;
  font-size: 14px;
  text-transform: uppercase; }

.chart-table {
  background: none;
  border: none;
  width: 100%; }

.chart-table td {
  padding: 0;
  margin: 0;
  border: none; }

.chart-table th {
  text-align: left;
  color: #616d71;
  font-family: "Lato", 'Helvetica Neue', Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  padding: 10px 0; }

.receivable-table td {
  padding: 20px; }

span.receivable {
  display: block;
  font-size: 28px;
  color: #3b83c0;
  margin-bottom: 0px; }

span.receivable strong {
  display: inline;
  font-size: 12px; }

.overdue_list > div {
  padding: 5px 0; }

.overdue_list > div > span > a.ui.circular.label {
  display: inline-block;
  margin-right: 10px; }

#dashboard .widget .ui.horizontal.divider.header {
  cursor: pointer; }

#dashboard .widget.widget-hidden .ui.horizontal.divider.header i.icon {
  transform: rotate(180deg); }

.profile-image {
  width: 100%;
  padding-top: 100%;
  border-radius: 50%;
  background: no-repeat center center;
  background-size: cover; }

body.split_table .split-view {
  height: 100%; }
body.split_table .split-view > div:first-child {
  width: 28.0%;
  float: left; }
body.split_table .split-view > div:last-child {
  width: 72%;
  float: right; }
body.split_table ui-view {
  height: 100%;
  display: block; }
body.split_table .split-view > div {
  height: 100%; }
body.split_table .page-content {
  padding: 0;
  height: 100%; }
  body.split_table .page-content table {
    margin: 0; }
    body.split_table .page-content table td:first-child,
    body.split_table .page-content table th:first-child {
      padding-left: 20px; }
  body.split_table .page-content div.split-table {
    height: 100%; }
    body.split_table .page-content div.split-table .list {
      height: 100%;
      overflow: hidden; }
      body.split_table .page-content div.split-table .list .list-toolbar {
        background: #f6f6f6;
        padding: 20px;
        border-bottom: 2px solid #ccc;
        height: 80px; }
      body.split_table .page-content div.split-table .list ul {
        height: 100%;
        overflow: scroll;
        border-right: 1px solid #ccc;
        padding: 0;
        margin: 0; }
        body.split_table .page-content div.split-table .list ul li {
          display: block;
          cursor: pointer;
          position: relative;
          list-style: none;
          border-bottom: 1px solid #ccc;
          padding: 15px 35px 15px 25px;
          background: white;
          -webkit-box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.3);
          -moz-box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.3);
          box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.3);
          transition: all 300ms ease; }
          body.split_table .page-content div.split-table .list ul li i {
            color: rgba(0, 0, 0, 0.3);
            font-size: 16px;
            margin-right: 5px;
            display: inline-block; }
          body.split_table .page-content div.split-table .list ul li strong {
            color: rgba(0, 0, 0, 0.8);
            font-size: 16px;
            font-weight: 600;
            display: inline-block;
            font-family: "Lato", 'Helvetica Neue', Helvetica, sans-serif; }
          body.split_table .page-content div.split-table .list ul li .sec {
            margin-top: 10px;
            position: relative;
            height: 20px; }
            body.split_table .page-content div.split-table .list ul li .sec span {
              font-size: 14px;
              color: rgba(0, 0, 0, 0.5);
              position: absolute;
              left: 0;
              top: 0; }
            body.split_table .page-content div.split-table .list ul li .sec span:last-child {
              left: auto;
              right: 0;
              top: 0; }
        body.split_table .page-content div.split-table .list ul li:last-child {
          border: none; }
        body.split_table .page-content div.split-table .list ul li:hover, body.split_table .page-content div.split-table .list ul li.open {
          background: #eee; }
        body.split_table .page-content div.split-table .list ul li:after {
          content: "\f105";
          font-family: FontAwesome;
          color: rgba(0, 0, 0, 0.3);
          font-size: 24px;
          right: 10px;
          top: 30px;
          position: absolute;
          z-index: 9;
          transition: all 300ms ease; }
        body.split_table .page-content div.split-table .list ul li:before {
          position: absolute;
          z-index: 3;
          background: none;
          height: 80px;
          width: 25px;
          content: "";
          top: 0;
          right: 0;
          bottom: 0;
          transition: all 300ms ease; }
        body.split_table .page-content div.split-table .list ul li.open:before {
          background: #3681b1;
          -webkit-box-shadow: -1px 0px 5px 0px rgba(50, 50, 50, 0.3);
          -moz-box-shadow: -1px 0px 5px 0px rgba(50, 50, 50, 0.3);
          box-shadow: -1px 0px 5px 0px rgba(50, 50, 50, 0.3); }
        body.split_table .page-content div.split-table .list ul li.open:after {
          color: white;
          right: 5px; }
  body.split_table .page-content .open-view {
    height: 100%;
    overflow: auto;
    background: white; }
    body.split_table .page-content .open-view hr {
      border: none;
      height: 1px;
      background: rgba(0, 0, 0, 0.2);
      margin: 15px 0; }
    body.split_table .page-content .open-view .open-view-content {
      padding: 0 30px 30px 30px; }
      body.split_table .page-content .open-view .open-view-content .stats {
        padding-bottom: 20px; }
        body.split_table .page-content .open-view .open-view-content .stats div {
          text-align: left; }
        body.split_table .page-content .open-view .open-view-content .stats div:last-child {
          text-align: left;
          text-transform: uppercase;
          font-size: 10px;
          margin-top: 5px; }
      body.split_table .page-content .open-view .open-view-content .toolbar {
        height: 80px;
        background: #fff;
        padding: 20px 30px;
        position: relative;
        border: none;
        margin: 0;
        margin-bottom: 20px;
        box-shadow: none;
        moz-box-shadow: none;
        webkit-box-shadow: none;
        margin: 0 -30px 20px -30px;
        z-index: 1; }

.page-title h1 ol {
  display: block;
  padding: 0;
  margin: 0; }
  .page-title h1 ol li {
    display: inline-block;
    font-size: 16px;
    padding-right: 25px;
    position: relative; }
    .page-title h1 ol li a {
      color: rgba(0, 0, 0, 0.8);
      text-decoration: none !important; }
    .page-title h1 ol li a:hover {
      color: #3681b1; }
  .page-title h1 ol li:after {
    content: "\f105";
    color: rgba(0, 0, 0, 0.5);
    position: absolute;
    right: 10px;
    font-size: 18px;
    font-family: FontAwesome; }
  .page-title h1 ol li:last-child:after {
    content: "";
    display: none; }
  .page-title h1 ol li:last-child {
    padding: 0; }

.editable-wrap {
  position: relative;
  display: block; }
  .editable-wrap span.editable-controls {
    display: block; }
    .editable-wrap span.editable-controls input {
      display: block;
      width: 100%;
      max-width: 100%;
      padding: 0 15px;
      height: 40px;
      line-height: 40px;
      font-size: 16px;
      color: rgba(0, 0, 0, 0.8);
      border: 1px solid #3681b1;
      border-radius: 0;
      outline: none !important; }
  .editable-wrap .editable-buttons button {
    position: absolute;
    right: 10px;
    top: 6px;
    font-size: 0;
    color: transparent;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    height: 28px;
    width: 28px;
    background: #3681b1;
    border: none; }
  .editable-wrap .editable-buttons button[type="submit"] {
    right: 40px; }
  .editable-wrap .editable-buttons button[type="submit"]:after {
    content: "\f00c";
    font-family: FontAwesome;
    position: absolute;
    font-size: 16px;
    color: white;
    height: 28px;
    width: 28px;
    line-height: 23px;
    left: 0; }
  .editable-wrap .editable-buttons button[type="button"] {
    background: #eee; }
  .editable-wrap .editable-buttons button[type="button"]:after {
    content: "\f00d";
    font-family: FontAwesome;
    position: absolute;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.4);
    height: 28px;
    width: 28px;
    line-height: 21px;
    left: 0; }

.display-none {
  background: red; }

/*# sourceMappingURL=cirons.css.map */
